/***********************CONTACTS***********************/
.contacts
	position relative
	flex 1
	padding 7em 6% 3% 7.5%
	box-sizing border-box
	font-size 1rem
	color $base-text-color-light
	background #2c3a3c
	overflow hidden
	@media screen and (max-height: 480px)
		overflow-y auto
	@media screen and (max-width: 750px)
		padding 5em 6% 2em 2.5em
		overflow-y auto

	&--isOverlay
		&::before
			content ""
			position absolute
			top 0
			left 0
			z-index 200
			width 100%
			height 100%
			background rgba(#000, .4)

	&--isContacts_extended
		padding 1em 0 4em 0
		animation-duration 2s
		animation-delay 0s
		@media screen and (max-width: 850px)
			padding-bottom 7em

	&__wrap
		width $base-wrap-element-width
		margin 0 auto
		@media screen and (max-width: 1199px)
			box-sizing border-box
			width 100%
			padding 0 1.25em

	&__title
		margin .85em 0 0

	&__address
		width 17.5em
		font-style normal

		&--isContacts_extended
			margin-left 1.5em


	&__row
		margin-top 1.5em
		&:nth-child(2)
			margin-top 1em
			line-height 2

	&__caption
		float left
		margin 0
		&:before
			left -1.5em
			top .25em
			width 1em
			height 1em

	&__link
		display block
		margin 0 0 0 5.3em
		color currentColor
		text-decoration none
		font-weight bold
		transition all .3s ease
		&:nth-of-type(2)
		&:nth-of-type(3)
			margin-top .7em

		&--mail
			margin-left 3em
			color $base-decor-color
			&:hover
			&:focus
				color lighten($base-decor-color, 10%)

	&__info
		margin 0 0 0 3.5em
		font-weight bold

	&__map
		position absolute
		right 0
		top 0
		width 50%
		bottom 0
		background-color #dadada
		@media screen and (min-width: 941px) and (max-width: 1100px)
			width 43%
		@media screen and (max-width: 750px)
			top 30em
			left 0
			width 100%
			height 70vh
			min-height 20em
			margin-bottom 2em
		@media screen and (max-width: 450px)
			top 28em

		&--overlay
			z-index 100
			min-height 40.5em
			@media screen and (min-width: 941px) and (max-width: 1100px)
				width 50%
			@media screen and (max-width: 850px)
				position relative
				width 100%
				min-height 19em
				height 19em
				margin-top 2em
			@media screen and (max-width: 750px)
				top 0
				left 0
				margin-bottom 0