include ../callback-form/callback-form-embeded

mixin contacts-extended
	+b.SECTION.contacts(class="--isContacts_extended wow fadeIn")
		+e.DIV.wrap
			+e.H2.title(class="titles --landing") Контакты

			+e.ADDRESS.address(class="--isContacts_extended")
				+e.DIV.row
					+e.P.caption(class="svgicon --phone") Телефоны:
					+e.link(href="tel:+380975555555")
						| +38 (097) 555 - 55 - 55
					+e.link(href="tel:+380635552299")
						| +38 (063) 555 - 22 - 99
					+e.link(href="tel:+380442224433")
						| +38 (044) 222 - 44 - 33
				+e.DIV.row
					+e.P.caption(class="svgicon --location") Адрес:
					+e.P.info 150-35, Украина, Киев, просп. Освободителей, 5
				+e.DIV.row
					+e.P.caption(class="svgicon --envelope") Email:
					+e.link(class="--mail", href="mailto:avtoservice@ukr.net") avtoservice@ukr.net

			+e.H2.title(class="titles --landing") Обратная связь
			+callback-form-embeded()

		+e.DIV.map(class="--overlay")#map