/***********************CONTACTS***********************/
.contacts
	position relative
	flex 1
	padding 7em 6% 3% 4%
	box-sizing border-box
	font-size 1rem
	color $base-text-color-light
	background #2c3a3c
	overflow hidden
	@media screen and (max-height: 480px)
		overflow-y auto
	@media screen and (max-width: 750px)
		padding 5em 6% 2em 2.5em
		overflow-y auto
	@media screen and (max-width: 480px)
		padding-left: 1.25em;

	&--isOverlay
		&::before
			content ""
			position absolute
			top 0
			left 0
			z-index 200
			width 100%
			height 100%
			background rgba(#000, .4)

	&--isContacts_extended
		padding 1em 0 4em 0
		animation-duration 2s
		animation-delay 0s
		@media screen and (max-width: 850px)
			padding-bottom 7em

	&__wrap
		width $base-wrap-element-width
		margin 0 auto
		@media screen and (max-width: 1199px)
			box-sizing border-box
			width 100%
			padding 0 1.25em

	&__title
		margin .5em 0 0

	&__address-wrap
		width 40%
		min-width 17.5em
		max-width 25em
		min-height 15em
		height: 80%;
		overflow-y: auto
		@media screen and (min-width: 941px) and (max-width: 1100px)
			width: 18em;
		@media screen and (max-width: 750px)
			width: 80%
			height 30em
		@media screen and (max-width: 480px)
			height 15em
		@media screen and (min-height: 1024px)
			height 91%

	&__address
		box-sizing: border-box
		width 45%
		min-width 17.5em
		padding-right: 1em;
		font-style normal

		&--isScrollable
			padding-left: 2em;

		&--isContacts_extended
			margin-left 1.5em

	&__row
		margin-top 1.25em

	&__caption
		margin 0
		&:before
			left -1.5em
			top .25em
			width 1em
			height 1em

		&--phone
			float: none
			width: 100%
			margin-top: 1em

		&--location
			float: none
			width: 100%

	&__link
		display block
		margin 0
		color currentColor
		text-decoration none
		font-weight bold
		transition all .3s ease

		&--mail
			color $base-decor-color
			&:hover
			&:focus
				color lighten($base-decor-color, 10%)

	&__info
		margin 0
		font-weight bold

	&__map
		position absolute
		right 0
		top 0
		width 50%
		bottom 0
		background-color #dadada
		@media screen and (min-width: 941px) and (max-width: 1100px)
			width 43%
		@media screen and (max-width: 750px)
			position: relative
			top: 2em
			height 70vh
			min-height 20em
			width: 100%
			margin 0 0 2em

		&--overlay
			z-index 100
			min-height 40.5em
			@media screen and (min-width: 941px) and (max-width: 1100px)
				width 50%
			@media screen and (max-width: 850px)
				position relative
				width 100%
				min-height 19em
				height 19em
				margin-top 2em
			@media screen and (max-width: 750px)
				top 0
				left 0
				margin-bottom 0