/***********************BTN***********************/
.btn
	display block
	box-sizing border-box
	text-decoration none
	text-transform uppercase
	border none
	transition all .3s ease
	outline none
	background rgba(0,0,0,0)

	&--bordered
		position relative
		z-index 100
		width 16.214em
		height 3.6em
		padding 0 3em
		font-size .875rem
		font-weight bold
		text-align center
		line-height @height
		letter-spacing .1em
		color $base-decor-color
		border $sidebar-elements-bd-width solid $base-decor-color
		transition color .5s cubic-bezier(0.2, 1, 0.3, 1)
		&:before
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			z-index -1
			background $base-decor-color
			transform-origin top
			transform scaleY(0)
			transition transform .5s cubic-bezier(0.2, 1, 0.3, 1)
		&:hover
		&:focus
			color #363636
		&:hover:before
		&:focus:before
			transform scaleY(1)

	&--positioned
		position absolute


	&--price
		width 100%
		padding 0 5%
		transition all .3s ease
		&:hover
		&:focus
			color #363636
			background $base-decor-color

	&--callback
		position relative
		width 16.1428em
		padding 1.1em 1.4em 1em 2.4em
		font-size .875rem
		text-align right
		letter-spacing .15em
		color $base-text-color-light
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		border-radius 2.5em
		&:before
			content ''
			position absolute
			top $sidebar-elements-bd-width
			left $sidebar-elements-bd-width
			bottom $sidebar-elements-bd-width
			right $sidebar-elements-bd-width
			border-style solid
			border-width $sidebar-elements-bd-width
			border-top-color $sidebar-bd-color-light
			border-left-color $sidebar-bd-color-light
			border-bottom-color $sidebar-bd-color-dark
			border-right-color $sidebar-bd-color-dark
			border-radius 2.5em
		.btn__icon
			position absolute
			top 1.4em
			left 1.5em
			width .8em
			height .8em
			fill $base-decor-color
		&:hover
		&:focus
			color $base-decor-color
		&:active
			border-width $sidebar-elements-bd-width
			border-top-color $sidebar-bd-color-dark
			border-left-color $sidebar-bd-color-dark
			border-bottom-color $sidebar-bd-color-light
			border-right-color $sidebar-bd-color-light
			&:before
				border-color rgba(0,0,0,0)
		@media screen and (max-height: 600px)
			padding .9em 1.4em .9em 2.4em

	&--callback-isActive
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		&:before
			border-color rgba(0,0,0,0)

	&--call
		position relative
		width 100%
		height 3.4em
		line-height @height
		font-weight bold
		color $base-decor-color
		letter-spacing .1em
		background-color #363636
		border-radius 2.1875em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-light
		border-left-color $sidebar-bd-color-light
		border-bottom-color $sidebar-bd-color-dark
		border-right-color $sidebar-bd-color-dark
		transition all .3s ease
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		&:active
			border-top-color $sidebar-bd-color-dark
			border-left-color $sidebar-bd-color-dark
		@media screen and (max-height: 600px)
			height 2.8em
			line-height @height
		@media screen and (max-height: 479px)
			margin-top .5em
