include ../header/header-trust
include ../sidebar/sidebar-trust
include ../trust/trust

mixin page-trust
	// block header
	+header-trust()
	// end block header

	// block trust
	+trust()
	// end block trust

	// block sidebar
	+sidebar-trust()
	// end block sidebar