include ../header/header-contacts
include ../sidebar/sidebar-contacts
include ../contacts/contacts

mixin page-contacts
	// block header
	+header-contacts()
	// end block header

	// block contacts
	+contacts()
	// end block contacts

	// block sidebar
	+sidebar-contacts()
	// end block sidebar