mixin scroll-to-top(item)
	+b.A.scroll-to-top(class=item.class, href=item.link)
		+e.SVG.elem(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 32.634 32.634", width="32", height="32")
			path(d="M16.317 32.634c-.276 0-.5-.224-.5-.5V.5c0-.276.224-.5.5-.5s.5.224.5.5v31.634c0 .276-.223.5-.5.5z")
			path(d="M28.852 13.536c-.128 0-.256-.05-.354-.146L16.318 1.207 4.136 13.39c-.195.195-.512.195-.707 0s-.195-.512 0-.707L15.966.146c.093-.093.22-.146.353-.146.132 0 .26.053.353.146l12.533 12.536c.195.195.195.512 0 .707-.098.097-.226.146-.354.146z")