mixin inform(items)
	each item in items
		+e.LI.item(class=item.class)
			+e.A.link(href=item.link)= item.title
			+e.SPAN.price= item.text
			+e.SPAN.line
			+e.SPAN.pointer
			+e.SPAN.dot

mixin services
	+b.MAIN.services
		+e.DIV.refs
			+e.A.sign(href="rangerover.html")
				+e.IMG.img(src="img/services/land_rover.png", alt="Land Rover лого")
				//-+e.P.text Ознакомиться
			+e.A.sign(href="rangerover.html")
				+e.IMG.img(src="img/services/mercedes_benz.png", alt="Mercedes Benz лого")
				//-+e.P.text Ознакомиться
		+e.DIV.scheme
			+e.IMG.photo(src="img/services/services__photo.png", alt="сервис и цены")
			+e.UL.list
				+inform([
					{ "class": "--item1", "link":"painting.html", "title": "Техническое обслуживание", "text": "" },
					{ "class": "--item2", "link":"painting.html", "title": "Ходовая часть", "text": "" },
					{ "class": "--item3", "link":"painting.html", "title": "ДВС и АКП", "text": "" },
					{ "class": "--item4", "link":"painting.html", "title": "Малярно-кузовные работы", "text": "" },
					{ "class": "--item5", "link":"painting.html", "title": "Электрик и компьютерная диагностика", "text": "" },
					{ "class": "--item6", "link":"component.html", "title": "Запчасти и комплектующие", "text": "" },
					{ "class": "--item7", "link":"painting.html", "title": "Спец.сервис", "text": "" }
				])