mixin services
	+b.SECTION.services
		+e.H2.title(class="titles") Сервис и цены
		+e.DIV.scheme
			+e.IMG.photo(src="img/services/servces__photo.png", alt="сервис и цены")
		+e.UL.list
			+e.LI.item Техническое обслуживание
				+e.SPAN.price  от 1000 грн
			+e.LI.item Исправление вмятин и царапин
				+e.SPAN.price  от 1000 грн
			+e.LI.item Диагностика ходовой
				+e.SPAN.price  от 1000 грн
			+e.LI.item Покраска
				+e.SPAN.price  от 1000 грн
			+e.LI.item Компьютерная диагностика
				+e.SPAN.price  от 1000 грн
			+e.LI.item Электрик
				+e.SPAN.price  от 1000 грн
			+e.LI.item Кузовной ремонт
				+e.SPAN.price  от 1000 грн