mixin inform(items)
	each item in items
		+e.LI.item
			+e.A.link(href=item.link)= item.title
				+e.SPAN.price= item.text
				+e.SPAN.line
				+e.SPAN.pointer
				+e.SPAN.dot

mixin services
	+b.MAIN.services
		+e.DIV.scheme
			+e.IMG.photo(src="img/services/services__photo.png", alt="сервис и цены")
			+e.UL.list
				+inform([
					{ "link":"#", "title": "Техническое обслуживание", "text": "от 1000 грн" },
					{ "link":"#", "title": "Ходовая часть", "text": "от 1000 грн" },
					{ "link":"#", "title": "ДВС и АКП", "text": "от 1000 грн" },
					{ "link":"painting.html", "title": "Малярно-кузовные работы", "text": "от 1000 грн" },
					{ "link":"#", "title": "Электрик и компьютерная диагностика", "text": "от 1000 грн" },
					{ "link":"#", "title": "Запчасти и комплектующие", "text": "от 1000 грн" },
					{ "link":"#", "title": "Спец.сервис", "text": "от 1000 грн" }
				])