mixin inform(items)
	each item in items
		+e.LI.item(class=item.class)
			+e.A.link(href=item.link)= item.title
			+e.SPAN.price= item.text
			+e.SPAN.line
			+e.SPAN.pointer
			+e.SPAN.dot

mixin services
	+b.MAIN.services
		+e.DIV.scheme
			+e.IMG.photo(src="img/services/services__photo.png", alt="сервис и цены")
			+e.UL.list
				+inform([
					{ "class": "--item1", "link":"#", "title": "Техническое обслуживание", "text": "" },
					{ "class": "--item2", "link":"#", "title": "Ходовая часть", "text": "" },
					{ "class": "--item3", "link":"#", "title": "ДВС и АКП", "text": "" },
					{ "class": "--item4", "link":"painting.html", "title": "Малярно-кузовные работы", "text": "" },
					{ "class": "--item5", "link":"#", "title": "Электрик и компьютерная диагностика", "text": "" },
					{ "class": "--item6", "link":"#", "title": "Запчасти и комплектующие", "text": "" },
					{ "class": "--item7", "link":"#", "title": "Спец.сервис", "text": "" }
				])