mixin info(items)
	each item in items
		+e.LI.item(class=item.class)
			+e.A.link(href=item.link)= item.title

mixin services-simple
	+b.SECTION.services(class="wow zoomIn")
		+e.DIV.wrap
			+e.H2.title(class="titles") Услуги
			+e.UL.list
				+info([
					{"class": "--service", "link": "#", "title": "Техническое обслуживание"},
					{"class": "--chassis", "link": "painting.html", "title": "Ходовая часть"},
					{"class": "--transmission", "link": "#", "title": "ДВС и АКП"},
					{"class": "--painting", "link": "#", "title": "Малярно-кузовные работы"},
					{"class": "--diagnostics", "link": "#", "title": "Электрик и компьютерная диагностика"},
					{"class": "--duplicates", "link": "#", "title": "Запчасти и комплектующие"},
					{"class": "--spec", "link": "#", "title": "СпецСервис"}
				])