/*******************SERVICES******************/
.services
	position relative
	flex 1
	flex-container(row,nowrap, center, center)
	padding 9.5em 2em 1% 5%
	font-size 1rem
	background-color #ebebeb
	overflow hidden
	@media screen and (max-height: 740px)
		padding-top 6.5em
	@media screen and (max-height: 600px), (max-width: 480px)
		overflow-y auto
		align-items flex-start
	@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
		justify-content: flex-start
		padding-left: 1em
		padding-right: 1em
	@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)
		justify-content: flex-start
		padding-left: 1em
		padding-right: 1em
	@media screen and (max-width: 560px)
		font-size .875rem
	@media screen and (max-width: 480px)
		display block
		padding-top 4em
		font-size 1.1rem
	@media screen and	(orientation: landscape)
		overflow-y auto

	&--isOverlay
		&::before
			content ""
			position absolute
			top 0
			left 0
			z-index 200
			width 100%
			height 100%
			background rgba(#000, .4)


		//container with image and items
	&__scheme
		position relative
		width 42em * 1.1
		height 27.25em * 1.1
		margin 0
		@media screen and (max-height: 740px)
			margin-top 1.5em
		@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
			width 42em
			height 27.25em
			margin-left 1.5em
			transform scale(0.8)
		@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 650px)
			width 42em * .8
			height 27.25em * .8
			transform scale(0.8)
		@media screen and (max-width: 715px)
			margin-left 0
			transform scale(0.9)
		@media screen and (max-width: 500px)
			transform scale(0.8)
		@media screen and (max-width: 480px)
			width 100%
			margin 0
			transform: none


	&__photo
		display block
		width 42em * 1.1
		height 27.25em * 1.1
		margin 0
		@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
			width 42em
			height 27.25em
		@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)
			width 42em * .8
			height 27.25em * .8
		@media screen and (max-width: 480px)
			display: none

	&__list
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		margin 0
		padding 0
		list-style none
		@media screen and (max-width: 480px)
			position: static
			width 95%
			margin 0 auto
			padding-bottom: 1.25em;

	&__link
		position: absolute
		display block
		width: 100%
		left: 0
		bottom: 1.5em
		text-decoration none
		color inherit
		&::before
			content ''
			position absolute
			top -2em
			left 0
			width 2em
			height 2em
			background url("../img/services/services__sprite-lg.png") 0 0 no-repeat
			background-size 100%
		@media screen and (max-width: 480px)
			&::before
				top -2.5em
				left 50%
				transform: translateX(-50%)

	&__item
		position absolute
		width 10.5em
		height 3.6875em
		padding-top 2em
		font-weight bold
		line-height 1.1
		transition all .5s ease
		transform translate(0, 0) scale(1)
		text-decoration none
		color inherit
		will-change transform
		&:hover //styling effect progressive color filling
			.services__line:before
				width 0
				transition width .4s ease-in 0.6s
			.services__pointer:before
				width 0
				transition width .4s ease-in .2s
			.services__dot:before
				width 0
				transition width .2s ease-in
		@media screen and (max-width: 480px)
			position relative
			width 100%
			padding 1.5em 0
			text-align center
			border-bottom 1px solid lighten($base-text-color, 50%)
			&:last-child
				border-bottom none

			//styling effect progressive color filling for 3, 4, 5 and 6 item
		&:nth-child(3)
		&:nth-child(4)
		&:nth-child(5)
		&:nth-child(6)
			.services__line
			.services__dot
				background-color #2b3334
				z-index: 100
				&:before
					width 0
					background-color: $base-decor-color
					z-index: 0
			&:hover
				.services__line:before
				.services__dot:before
					width 100%

			//ITEM(1)
		&--item1
			top 13%
			left -3%
			.services__link::before
				background-position 0 0
			.services__line
				width 5em
			.services__pointer
				right 1.5em
				width 4em
				transform rotateZ(45deg)
			.services__dot
				bottom -1.9em
				right 2.3em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(-5%, -5%) scale(1.2)
					.services__pointer
						transform rotateZ(40deg) scale(1)
					.services__dot
						transform translate(-10%,-135%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				top 13%
				left -3.5%
				.services__pointer
					right 2em
					width 3.5em
					transform rotateZ(45deg)
				.services__dot
					bottom -1.5em
					right 2.8em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				top 10%
				left -4.5%
				.services__pointer
					right 3em
					width 2.5em
					transform rotateZ(55deg)
				.services__dot
					bottom -1em
					right 3.9em
			@media screen and (max-width: 480px)
				left 0
				&:before
					top 8%


			//ITEM(2)
		&--item2
			top -5%
			left 14%
			.services__link::before
				background-position 0 -8.1em;
			.services__line
				width 5em
			.services__pointer
				right .8em
				width 4.7em
				transform rotateZ(40deg)
			.services__dot
				bottom -2em
				right 1.7em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(-3%, -3%) scale(1.15)
					.services__pointer
						transform rotateZ(37deg) scale(.9)
					.services__dot
						transform translate(-50%,-110%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				left 17%
				.services__pointer
					right 2.5em
					width 3em
					transform rotateZ(40deg)
				.services__dot
					bottom -1em
					right 2.9em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				top -8%
				.services__pointer
					transform rotateZ(40deg)
					width 3em
					right 2.5em
				.services__dot
					bottom -.9em
					right 3em
			@media screen and (max-width: 480px)
				left 0
				width: 100%
				&:before
					top 6%
					background-position 0 -8.1em


			//ITEM(3)
		&--item3
			top -3.5%
			left 50%
			width 8em
			.services__link::before
				background-position 0 -16em;
			.services__line
				width 5em
			.services__pointer
				left 0
				bottom 1.14em
				width 5.3em
				transform rotateZ(-225deg)
			.services__dot
				bottom -2.6em
				left -3.85em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(4%, -4%) scale(1.15)
					.services__pointer
						transform rotateZ(-227deg) scale(0.8)
					.services__dot
						transform translate(180%,-120%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				top -3%
				left 48%
				.services__pointer
					left 0
					bottom 1.1em
					width 3.7em
					transform rotateZ(-223deg)
				.services__dot
					bottom -1.5em
					left -2.9em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				top -8%
				.services__pointer
					width 3.5em
				.services__dot
					bottom -1.5em
					left -2.75em
			@media screen and (max-width: 480px)
				left 0
				width 100%
				&:before
					top 5%
					background-position 0 -16em


			//ITEM(4)
		&--item4
			top -3%
			left 80%
			width 9em
			.services__link::before
				background-position 0 -2.6em;
			.services__line
				width 8.5em
			.services__pointer
				left 0
				bottom 1.18em
				width 7em
				transform rotateZ(-230deg)
			.services__dot
				bottom -4.3em
				left -4.75em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(10%, -5%) scale(1.15)
					.services__pointer
						transform rotateZ(-229deg) scale(0.9)
					.services__dot
						transform translate(110%,-180%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				top 4%
				left 78%
				.services__pointer
					left 0
					bottom: 1.15em
					width 4.0em
					transform rotateZ(-225deg)
				.services__dot
					bottom -1.7em
					left -2.9em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				top -9%
				.services__pointer
					width 5.1em
				.services__dot
					bottom -2.9em
					left -3.5em
			@media screen and (max-width: 480px)
				left 0
				width 100%
				&:before
					top 4%
					background-position 0 -2.6em


			//ITEM(5)
		&--item5
			top 83%
			left 80%
			width 8em
			height
			.services__link::before
				top -2.8em
				width 2.2em
				height 2.5em
				background-position 0 -11.5em;
			.services__line
				width 5.5em
			.services__pointer
				left 0
				bottom: 1.13em
				width 6.9em
				transform rotateZ(230deg)
			.services__dot
				top -1em
				left -4.65em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(3%, 6%) scale(1.2)
					.services__pointer
						transform rotateZ(237deg) scale(0.9)
					.services__dot
						transform translate(310%,60%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				top 83%
				left 77%
				.services__pointer
					left 0
					bottom: 1.18em
					width 4.9em
					transform rotateZ(231deg)
				.services__dot
					top .5em
					left -3.2em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				top 85%
				left 75%
				.services__pointer
					width 5em
					bottom: 1.1em
					transform rotateZ(247deg)
				.services__dot
					top -.6em
					left -2.2em
			@media screen and (max-width: 480px)
				left 0
				width 100%
				&:before
					top 4%
					width 2em
					height 2em
					background-position 0 -10.8em


			//ITEM(6)
		&--item6
			top 84%
			left 32%
			width 8em
			.services__link::before
				width 1.9em
				background-position 0 -5.1em;
			.services__line
				width 7.5em
			.services__pointer
				left 0
				bottom: 1.15em
				width 6em
				transform rotateZ(241deg)
			.services__dot
				top -1em
				left -3.1em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(-3%, 3%) scale(1.2)
					.services__pointer
						transform rotateZ(252deg) scale(0.85)
					.services__dot
						transform translate(370%,130%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				top 83%
				left 32%
				.services__pointer
					bottom 1.18em
					width 5.1em
					transform rotateZ(234deg)
				.services__dot
					top 0
					left -3.2em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				top 85%
				.services__pointer
					bottom: 1.15em
					width 5.3em
					transform rotateZ(242deg)
				.services__dot
					top -.4em
					left -2.7em
			@media screen and (max-width: 480px)
				left 0
				width 100%
				&:before
					top 7%
					width 2em
					background-position 0 -5.4em


			//ITEM(7)
		&--item7
			top 65%
			left -3%
			width 8em
			.services__link::before
				background-position 0 -13.4em;
			.services__line
				width 6.3em
			.services__pointer
				right -3.8em
				bottom: 1.2em
				width 5.5em
				transform rotateZ(-41deg)
			.services__dot
				top .7em
				right -2.7em
			@media screen and (min-width: 1181px)
				&:hover
					transform translate(5%, 5%) scale(1.2)
					.services__pointer
						transform rotateZ(-51deg) scale(0.8)
					.services__dot
						transform translate(-365%,30%) scale(0.9)
			@media screen and (min-width: 1051px) and (max-width: 1180px), (min-width: 701px) and (max-width: 830px)
				top 62%
				left -4%
				.services__pointer
					right -2.3em
					bottom: 1.2em
					width 4em
					transform rotateZ(-45deg)
				.services__dot
					top 1.5em
					right -1.3em
			@media screen and (min-width: 940px) and (max-width: 1050px), (max-width: 700px)//, (max-height: 680px)
				left -5%
				.services__pointer
					right -2.8em
					bottom: 1.2em
					width 4.5em
					transform rotateZ(-74deg)
				.services__dot
					top -.1em
					right .3em
			@media screen and (max-width: 480px)
				left 0
				width 100%
				&:before
					top 3%
					background-position 0 -13.4em


	&__price
		display block
		position absolute
		bottom 0
		margin-top .5em
		font-weight normal
		@media screen and (max-width: 480px)
			left 50%
			bottom .2em
			transform: translateX(-50%)

	&__line
		display block
		position absolute
		left 0
		bottom 1.2em
		z-index 10
		height 1px
		background-color $base-decor-color
		&:before
			display block
			content ''
			position absolute
			left 0
			top 0
			z-index 100
			width 100%
			height 100%
			background-color #2b3334
			transition width .4s ease-in
		@media screen and (max-width: 480px)
			display: none

	&__pointer
		display block
		position absolute
		bottom 1.2em
		z-index 10
		height 1px
		background-color $base-decor-color
		transform-origin 0 0 0
		transition all .5s ease
		&:before
			position absolute
			content ''
			top 0
			left 0
			z-index 100
			width 100%
			height 100%
			background-color #2b3334
			transition width .4s ease-in .4s
		@media screen and (max-width: 480px)
			display: none

	&__dot
		display block
		position absolute
		z-index 10
		width 6px
		height 6px
		background-color $base-decor-color
		border-radius 50%
		transition all .5s ease
		&:before
			position absolute
			content ''
			top 0
			left 0
			z-index 100
			width 100%
			height 100%
			background-color #2b3334
			border-radius 50%
			transition width .2s ease-in 0.8s
		@media screen and (max-width: 480px)
			display: none
