extends _assets/components/errors

block content
	+errors({
		"descEng": "Not Implemented. The request cannot be carried out by the web server.",
		"title": "501",
		"descRu": "Запрос не может быть выполнен веб-сервером."
	})