extends _assets/components/template

block logo
	// block logo
	+logo({
		"id": "logo",
		"class": "logo",
		"href": "#",
		"set": "img/logo/autospec-logo-dark@2.png",
		"src": "img/logo/autospec-logo-dark.png",
		"alt": "логотип компании автоспецсервис"
	})
	// end block logo

block content
	+about()

block main-nav
	//block main-nav
	+main-nav([
		{"class": "main-nav__link animsition-link", "link": "index.html", "title": "главная"},
		{"class": "main-nav__link main-nav__link--active", "link": "about.html", "title": "о нас"},
		{"class": "main-nav__link animsition-link", "link": "services.html", "title": "сервис и цены"},
		{"class": "main-nav__link animsition-link", "link": "trust.html", "title": "нам доверяют"},
		{"class": "main-nav__link animsition-link", "link": "clients.html", "title": "корпоративным клиентам"},
		{"class": "main-nav__link animsition-link", "link": "contacts.html", "title": "контакты"}
	])
	//end block main-nav


