extends _assets/components/template

block logo
	// block logo
	+logo({
		"id": "logo",
		"class": "logo",
		"href": "#",
		"set": "img/logo/autospec-logo-light@2.png",
		"src": "img/logo/autospec-logo-light.png",
		"alt": "логотип компании автоспецсервис"
	})
	// end block logo

block content
	+contacts()

block main-nav
	//block main-nav
	+main-nav([
		{"class": "main-nav__link animsition-link", "link": "index.html", "title": "главная"},
		{"class": "main-nav__link animsition-link", "link": "about.html", "title": "о нас"},
		{"class": "main-nav__link animsition-link", "link": "services.html", "title": "сервис и цены"},
		{"class": "main-nav__link animsition-link", "link": "trust.html", "title": "нам доверяют"},
		{"class": "main-nav__link animsition-link", "link": "clients.html", "title": "корпоративным клиентам"},
		{"class": "main-nav__link main-nav__link--active", "link": "contacts.html", "title": "контакты"}
	])
	//end block main-nav

block scripts
	// build:js js/main.js
	script( src="js/main.js")
	// endbuild

	script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApNXjcWxKpQwh7KkYpTvegrO9NAb_NhEI&callback=contacts")

	script.
		$('.animsition').animsition({
			inClass: 'fade-in',
			outClass: 'fade-out',
			inDuration: 500,
			outDuration: 500,
			linkElement: '.animsition-link',
			// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
			loading: true,
			loadingParentElement: 'body', //animsition wrapper element
			loadingClass: 'animsition-loading',
			loadingInner: '', // e.g '<img src="loading.svg" />'
			timeout: false,
			timeoutCountdown: 1000,
			onLoadEvent: true,
			browser: ['animation-duration', '-webkit-animation-duration'],
			// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
			// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
			overlay: false,
			overlayClass: 'animsition-overlay-slide',
			overlayParentElement: 'body',
			transition: function (url) {
				window.location.href = url;
			}
		});

	script.
		$(window).on("load", function () {
			$(".contacts__address-wrap").mCustomScrollbar({
				theme: "my-theme"
			});
		});