//*********************************************
//		Assets
//*********************************************
@import 'rupture'
@import '_assets/components/normalize'
@import '_assets/components/variables'
@import '_assets/components/mixins'
@import '_assets/components/fonts'
@import '_assets/components/svgicons'

//*********************************************
//		Blocks
//*********************************************
@import 'page'
@import 'btn'

@import 'header'
@import 'logo'

@import 'main-nav'
@import 'menu-btn'

@import 'sidebar'
@import 'socials'
@import 'socials'
//@import 'callback-form'

@import 'main'

@import 'about'
@import 'tab-panel'
@import 'vacancies'
@import 'order-form'

@import 'services'

@import 'trust'

@import 'clients'

@import 'contacts'



