include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include logo/logo
include hero/hero
include statistics/statistics
include materials/materials
include bundles/bundles
include why/why
include services/services-simple
include contacts/contacts-extended

doctype html
html(lang="ru")

	head
		+head({
			"title": "autospecservice painting",
			"author": "Interact Agency",
			"description": "autospecservice painting"
		})
		// build:css css/vendor-singleService.css
		link(rel="stylesheet", href="js/libs/animsition/dist/css/animsition.min.css")
		link(rel="stylesheet", href="js/libs/animate.css/dist/css/animate.min.css")
		// endbuild
		// build:css css/singleService.css
		link(rel="stylesheet", href="css/singleService.css")
		// endbuild

	+b.BODY.page(class="--singleService")
		+e.DIV.wrap(class="--singleService animsition")
			+b.HEADER.header(class="--singleService")
				+e.DIV.wrap
					// block logo
					+logo({
						"id": "logo",
						"class": "logo --singleService",
						"href": "index.html",
						"set": "img/logo/autospec-logo-light@2.png",
						"src": "img/logo/autospec-logo-light.png",
						"alt": "логотип компании автоспецсервис"
					})
					// end block logo

					+b.A.btn(href="services.html", class="--bordered --arrow header__btn") В Сервис и цены
						+e.SVG.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.635 32.635" width="14" height="8")
							path(d="M32.13 16.82H.5c-.28 0-.5-.23-.5-.5s.22-.5.5-.5h31.64c.27 0 .5.22.5.5s-.23.5-.5.5z")
							path(d="M13.04 29.35c-.13 0-.26-.05-.36-.14L.15 16.68c-.1-.1-.15-.22-.15-.36s.05-.24.15-.34L12.68 3.43c.2-.2.52-.2.7 0s.2.5 0 .7L1.22 16.34l12.2 12.17c.2.2.2.5 0 .7-.1.1-.24.15-.36.15z")

					+b.A.btn#to_bundles(href="#bundles", class="--filled header__btn") Записаться на ремонт

				// block hero
			+hero({
				"title": "Покраска",
				"lead": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц."
			})
				// end block hero

				// block statistics
			+statistics()
				// end block statistics

				// block materials
			+materials([
				{"set": "img/materials/bosch-logo@2.png", "src": "img/materials/bosch-logo.png", "alt": "Bosch logo"},
				{"set": "img/materials/dayco-logo@2.png", "src": "img/materials/dayco-logo.png", "alt": "Dayco logo"},
				{"set": "img/materials/boge-logo@2.png", "src": "img/materials/boge-logo.png", "alt": "Boge logo"},
				{"set": "img/materials/varta-logo@2.png", "src": "img/materials/varta-logo.png", "alt": "Varta logo"},
				{"set": "img/materials/cargohc-logo@2.png", "src": "img/materials/cargohc-logo.png", "alt": "Cargo HC logo"},
				{"set": "img/materials/brembo-logo@2.png", "src": "img/materials/brembo-logo.png", "alt": "Brembo logo"},
				{"set": "img/materials/castrol-logo@2.png", "src": "img/materials/castrol-logo.png", "alt": "Castrol logo"},
				{"set": "img/materials/airtraction-logo@2.png", "src": "img/materials/airtraction-logo.png", "alt": "Airtraction logo"},
				{"set": "img/materials/brisk-logo@2.png", "src": "img/materials/brisk-logo.png", "alt": "Brisk logo"}
			])
				// end block materials

				// block bundles
			+bundles()
				// end block bundles

				// block why
			+why([
				{
					"class": "",
					"path1": "M11.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM39.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.4 3.3-3.3 3.3z",
					"path2": "M49.7 33.9h-.3V21.6c0-.6-.3-1.5-.7-2l-5.6-7.4c-.3-.4-1.1-.8-1.6-.8h-8.9c-.1 0-.3-.1-.3-.3V7.4c0-.7-.6-1.3-1.3-1.3H6c-2.4 0-4.4 2-4.4 4.4v23.2c0 .1-.1.3-.3.3-.7 0-1.3.6-1.3 1.3v3c0 .7.6 1.3 1.3 1.3h3c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h13.5c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h2.6c.7 0 1.3-.6 1.3-1.3V35c-.2-.6-.7-1.1-1.2-1.1zM34.8 21.3v-6h4.3c.5 0 1.2.4 1.6.8l3.8 5.2h-9.7z",
					"subtitle": "Первое утверждение",
					"text": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц.Топливный фильтр защищает мотор от частиц.Топливный фильтр защищает мотор от посторонних частиц"
				},
				{
					"class": "",
					"path1": "M11.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM39.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.4 3.3-3.3 3.3z",
					"path2": "M49.7 33.9h-.3V21.6c0-.6-.3-1.5-.7-2l-5.6-7.4c-.3-.4-1.1-.8-1.6-.8h-8.9c-.1 0-.3-.1-.3-.3V7.4c0-.7-.6-1.3-1.3-1.3H6c-2.4 0-4.4 2-4.4 4.4v23.2c0 .1-.1.3-.3.3-.7 0-1.3.6-1.3 1.3v3c0 .7.6 1.3 1.3 1.3h3c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h13.5c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h2.6c.7 0 1.3-.6 1.3-1.3V35c-.2-.6-.7-1.1-1.2-1.1zM34.8 21.3v-6h4.3c.5 0 1.2.4 1.6.8l3.8 5.2h-9.7z",
					"subtitle": "Второе утверждение",
					"text": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц.Топливный фильтр защищает мотор от частиц.Топливный фильтр защищает мотор от посторонних частиц"
				},
				{
					"class": "",
					"path1": "M11.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM39.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.4 3.3-3.3 3.3z",
					"path2": "M49.7 33.9h-.3V21.6c0-.6-.3-1.5-.7-2l-5.6-7.4c-.3-.4-1.1-.8-1.6-.8h-8.9c-.1 0-.3-.1-.3-.3V7.4c0-.7-.6-1.3-1.3-1.3H6c-2.4 0-4.4 2-4.4 4.4v23.2c0 .1-.1.3-.3.3-.7 0-1.3.6-1.3 1.3v3c0 .7.6 1.3 1.3 1.3h3c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h13.5c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h2.6c.7 0 1.3-.6 1.3-1.3V35c-.2-.6-.7-1.1-1.2-1.1zM34.8 21.3v-6h4.3c.5 0 1.2.4 1.6.8l3.8 5.2h-9.7z",
					"subtitle": "Третье утверждение",
					"text": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц.Топливный фильтр защищает мотор от частиц.Топливный фильтр защищает мотор от посторонних частиц"
				},
				{
					"class": "",
					"path1": "M11.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM39.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.4 3.3-3.3 3.3z",
					"path2": "M49.7 33.9h-.3V21.6c0-.6-.3-1.5-.7-2l-5.6-7.4c-.3-.4-1.1-.8-1.6-.8h-8.9c-.1 0-.3-.1-.3-.3V7.4c0-.7-.6-1.3-1.3-1.3H6c-2.4 0-4.4 2-4.4 4.4v23.2c0 .1-.1.3-.3.3-.7 0-1.3.6-1.3 1.3v3c0 .7.6 1.3 1.3 1.3h3c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h13.5c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h2.6c.7 0 1.3-.6 1.3-1.3V35c-.2-.6-.7-1.1-1.2-1.1zM34.8 21.3v-6h4.3c.5 0 1.2.4 1.6.8l3.8 5.2h-9.7z",
					"subtitle": "Четвертое утверждение",
					"text": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц.Топливный фильтр защищает мотор от частиц.Топливный фильтр защищает мотор от посторонних частиц"
				},
				{
					"class": "",
					"path1": "M11.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM39.5 34.6c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.4 3.3-3.3 3.3z",
					"path2": "M49.7 33.9h-.3V21.6c0-.6-.3-1.5-.7-2l-5.6-7.4c-.3-.4-1.1-.8-1.6-.8h-8.9c-.1 0-.3-.1-.3-.3V7.4c0-.7-.6-1.3-1.3-1.3H6c-2.4 0-4.4 2-4.4 4.4v23.2c0 .1-.1.3-.3.3-.7 0-1.3.6-1.3 1.3v3c0 .7.6 1.3 1.3 1.3h3c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h13.5c.1 0 .3-.1.3-.3.1-3.7 3.2-6.7 7-6.7s6.8 3 7 6.7c0 .1.1.3.3.3h2.6c.7 0 1.3-.6 1.3-1.3V35c-.2-.6-.7-1.1-1.2-1.1zM34.8 21.3v-6h4.3c.5 0 1.2.4 1.6.8l3.8 5.2h-9.7z",
					"subtitle": "Пятое утверждение",
					"text": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц.Топливный фильтр защищает мотор от частиц.Топливный фильтр защищает мотор от посторонних частиц"
				}
			])
				//end block why

				// block services
			+services-simple()
				// end services

				// block services
			+contacts-extended()
				// end services

		// build:js js/vendor.js
		script( src="js/libs/jquery/dist/jquery.min.js")
		script( src="js/libs/animsition/dist/js/animsition.min.js")
		script( src="js/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script( src="js/libs/jquery-validation/dist/jquery.validate.min.js")
		script( src="js/libs/wow/dist/wow.min.js")
		// endbuild

		// build:js js/main.js
		script( src="js/main.js")
		// endbuild

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApNXjcWxKpQwh7KkYpTvegrO9NAb_NhEI&callback=contacts")

		script.
			$('.animsition').animsition({
				inClass: 'fade-in',
				outClass: 'fade-out',
				inDuration: 500,
				outDuration: 500,
				linkElement: '.animsition-link',
				// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
				loading: true,
				loadingParentElement: 'body', //animsition wrapper element
				loadingClass: 'animsition-loading',
				loadingInner: '', // e.g '<img src="loading.svg" />'
				timeout: false,
				timeoutCountdown: 1000,
				onLoadEvent: true,
				browser: ['animation-duration', '-webkit-animation-duration'],
				// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
				// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
				overlay: false,
				overlayClass: 'animsition-overlay-slide',
				overlayParentElement: 'body',
				transition: function (url) {
					window.location.href = url;
				}
			});

		script.
			new WOW().init();

	//-
		script.
			$(function() {
				var $hero = $(".hero");
				var $stats = $(".statistics");

				var $materials = $(".materials");
				var $bundles = $(".bundles");
				var $tabs = $(".tabs");
				var $form = $(".order-form");
				var $table = $(".bundles__table");

				var $why = $(".why");
				var $services = $(".services");

				var $contacts = $(".contacts");

				var scrollDelay = 250;


				$(window).on("scroll", function() {
					var scroll = $(window).scrollTop();
					console.log(scroll +' scroll');

					if ( scroll >= scrollDelay) {
						$materials.addClass("zoomIn");
					}

					if (scroll >= scrollDelay + $materials.height()) {
						$tabs.addClass("bounceInLeft");
						$form.addClass("bounceInRight");
					}

					if (scroll >= 2*scrollDelay + $materials.height() + $tabs.height() ) {
						$table.addClass("slideInLeft");
					}

					if (scroll >= 2*scrollDelay + $bundles.height()) {
						$why.addClass("bounceInRight");
					}

					if (scroll >= scrollDelay + $bundles.height() + $why.height()) {
						$services.addClass("zoomIn");
					}

					if (scroll >= scrollDelay + $bundles.height() + $why.height() + $services.height() + 600) {
						$contacts.addClass("bounceInUp");
					}

				});

			});
