include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include logo/logo
include hero/hero
include statistics/statistics
include materials/materials
include bundles/bundles

doctype html
html(lang="ru")

	head
		+head({
			"title": "autospecservice painting",
			"author": "Interact Agency",
			"description": "autospecservice painting"
		})
		// build:css css/singleService.css
		link(rel="stylesheet", href="css/singleService.css")
		// endbuild

	+b.BODY.page(class="--singleService")
		+e.DIV.wrap(class="--singleService animsition")
			+b.HEADER.header(class="--singleService")
				// block logo
				+logo({
					"id": "logo",
					"class": "logo --singleService",
					"href": "index.html",
					"set": "img/logo/autospec-logo-light@2.png",
					"src": "img/logo/autospec-logo-light.png",
					"alt": "логотип компании автоспецсервис"
				})
				// end block logo

				+b.A.btn(href="services.html", class="--bordered --arrow") В Сервис и цены
					+e.SVG.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.635 32.635" width="14" height="8")
						path(d="M32.13 16.82H.5c-.28 0-.5-.23-.5-.5s.22-.5.5-.5h31.64c.27 0 .5.22.5.5s-.23.5-.5.5z")
						path(d="M13.04 29.35c-.13 0-.26-.05-.36-.14L.15 16.68c-.1-.1-.15-.22-.15-.36s.05-.24.15-.34L12.68 3.43c.2-.2.52-.2.7 0s.2.5 0 .7L1.22 16.34l12.2 12.17c.2.2.2.5 0 .7-.1.1-.24.15-.36.15z")

				+b.BUTTON.btn(type="button", class="--filled") Записаться на ремонт

				// block hero
			+hero({
				"title": "Покраска",
				"lead": "Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц. Топливный фильтр защищает мотор от посторонних частиц. Топливный фильтр защищает мотор от частиц."
			})
				// end block hero

				// block statistics
			+statistics()
				// end block statistics

				// block materials
			+materials([
				{"set": "img/materials/bosch-logo@2.png", "src": "img/materials/bosch-logo.png", "alt": "Bosch logo"},
				{"set": "img/materials/dayco-logo@2.png", "src": "img/materials/dayco-logo.png", "alt": "Dayco logo"},
				{"set": "img/materials/boge-logo@2.png", "src": "img/materials/boge-logo.png", "alt": "Boge logo"},
				{"set": "img/materials/varta-logo@2.png", "src": "img/materials/varta-logo.png", "alt": "Varta logo"},
				{"set": "img/materials/cargohc-logo@2.png", "src": "img/materials/cargohc-logo.png", "alt": "Cargo HC logo"},
				{"set": "img/materials/brembo-logo@2.png", "src": "img/materials/brembo-logo.png", "alt": "Brembo logo"},
				{"set": "img/materials/castrol-logo@2.png", "src": "img/materials/castrol-logo.png", "alt": "Castrol logo"},
				{"set": "img/materials/airtraction-logo@2.png", "src": "img/materials/airtraction-logo.png", "alt": "Airtraction logo"},
				{"set": "img/materials/brisk-logo@2.png", "src": "img/materials/brisk-logo.png", "alt": "Brisk logo"}
			])
				// end block materials

				//block bundles
			+bundles()
				//end block bundles


		// build:js js/vendor.js
		script( src="js/libs/jquery/dist/jquery.min.js")
		script( src="js/libs/animsition/dist/js/animsition.min.js")
		script( src="js/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script( src="js/libs/jquery-validation/dist/jquery.validate.min.js")
		// endbuild

		// build:js js/main.js
		script( src="js/main.js")
		// endbuild

		script.
			$('.animsition').animsition({
				inClass: 'fade-in',
				outClass: 'fade-out',
				inDuration: 500,
				outDuration: 500,
				linkElement: '.animsition-link',
				// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
				loading: true,
				loadingParentElement: 'body', //animsition wrapper element
				loadingClass: 'animsition-loading',
				loadingInner: '', // e.g '<img src="loading.svg" />'
				timeout: false,
				timeoutCountdown: 1000,
				onLoadEvent: true,
				browser: ['animation-duration', '-webkit-animation-duration'],
				// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
				// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
				overlay: false,
				overlayClass: 'animsition-overlay-slide',
				overlayParentElement: 'body',
				transition: function (url) {
					window.location.href = url;
				}
			});

