include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include logo/logo
include menu-btn/menu-btn

include aboutRange/aboutRange
include advantages/advantages
include callUs/callUs
include prices/prices

include interior-gallery/interior-gallery
include contacts/contacts-extended
include scroll-to-top/scroll-to-top

doctype html
html(lang="ru")

	head
		+head({
			"title": "autospecservice painting",
			"author": "Interact Agency",
			"description": "autospecservice painting"
		})
		// build:css css/vendor-singleService.css
		link(rel="stylesheet", href="js/libs/animsition/dist/css/animsition.min.css")
		link(rel="stylesheet", href="js/libs/animate.css/dist/css/animate.min.css")
		link(rel="stylesheet", href="js/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.custom.css")
		// endbuild
		// build:css css/singleService.css
		link(rel="stylesheet", href="css/singleService.css")
		// endbuild

	+b.BODY.page(class="--singleService")
		+e.DIV.wrap(class="--singleService --brandLanding animsition")
			+b.HEADER.header#header(class="--singleService --brandLanding")
				+e.DIV.wrap(class="--fixed --brandLanding")
					// block logo
					+logo({
						"id": "logo",
						"class": "logo --singleService",
						"href": "index.html",
						"set": "img/logo/autospec-logo-light@2.png",
						"src": "img/logo/autospec-logo-light.png",
						"alt": "логотип компании автоспецсервис"
					})
					// end block logo

					+e.UL.list
						+e.LI.list-item
							+b.A.btn(href="services.html", class="--bordered --arrow --rounded") В Сервис и цены
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.635 32.635" width="14" height="8")
									path(d="M32.13 16.82H.5c-.28 0-.5-.23-.5-.5s.22-.5.5-.5h31.64c.27 0 .5.22.5.5s-.23.5-.5.5z")
									path(d="M13.04 29.35c-.13 0-.26-.05-.36-.14L.15 16.68c-.1-.1-.15-.22-.15-.36s.05-.24.15-.34L12.68 3.43c.2-.2.52-.2.7 0s.2.5 0 .7L1.22 16.34l12.2 12.17c.2.2.2.5 0 .7-.1.1-.24.15-.36.15z")
						+e.LI.list-item
							+b.A.btn#to_bundles(href="#bundles", data-link="#bundles", class="--filled --rounded") Записаться на ремонт
						+e.LI.list-item(class="--telephone")
							+e.link(href="tel:+380975555555")
								| +38 (097) 555 - 55 - 55

					+menu-btn({"class": "--fixed"})

				// block hero
			+b.SECTION.hero(class="--range")#hero
				+e.DIV.wrap
					+e.H1.title(class="--brandLanding titles") Range Rover
					+e.P.lead Изящный и современный, Range Rover отличается бесподобными характеристиками и уникальным происхождением. Впервые появившись 45 лет назад, автомобиль с таким культовым дизайном определил &laquo;внедорожное будущее&raquo; всей автопромышленности. За годы своего существования он стал ярким воплощением легендарного мастерства британских дизайнеров.
					+b.A.btn(class="--filled --white --rounded hero__btn", href="#about", data-link="#about") узнать больше
				// end block hero

				//block aboutRange
			+aboutRange({
				"class": "--range wow slideInLeft"
			})
				//end block aboutRange

				//block advantages
			+advantages({
				"class": "--range1 wow slideInRight"
			})
				//end block advantages

				//block callUs
			+callUs()
				//end block callUs

				//block prices
			+prices(
				[
					{ "id": "RR", "value": "Range Rover" },
					{ "id": "RRS", "value": "Range Rover Sport" },
					{ "id": "RRV", "value": "Range Rover Velar" },
					{ "id": "RRE", "value": "Range Rover Evoque" }
				],
				[
					{
						"id": "forRR",
						"caption": "Range Rover",
						"text": "Изящный и современный, этот Range Rover отличается бесподобными характеристиками и уникальным происхождением. Благодаря трем классическим чертам: выразительным акцентам в нижней части кузова, контура крыши и сплошной поясной линии - Range Rover невозможно спутать с другим автомобилем. Культовый силуэт имеет несколько суженный вверх и изогнутую форму, в то время как остекление почти вровень с поверхностью кузова и глянцево-черные стойки подчеркивают «плавающую» крышу, выделяя ее обтекаемую и элегантную форму.",
						"src": "img/prices/range-rover.png",
						"alt": "Range Rover"
					},
					{
						"id": "forRRS",
						"caption": "Range Rover Sport",
						"text": "Исключительный. Мощный. Так и хочется сесть за руль. Быстрый, динамичный и очень выносливый Range Rover Sport можно оснастить одним из перечня мощных двигателей. В результате автомобиль сможет развивать скорость до 250 км/ч. Чрезвычайная управляемость и несравненные возможности при движении по бездорожью позволяют этому транспортному средству справиться с любым вызовом на любом дорожном покрытии.",
						"src": "img/prices/range-rover-sport.png",
						"alt": "Range Rover Sport"
					},
					{
						"id": "forRRV",
						"caption": "Range Rover Velar",
						"text": "Новая модель в линейке Range Rover, занимает почетное место между Range Rover Evoque и Range Rover Sport. Елегантність, футуристичність та провідні технології – ключові ознаки Range Rover Velar.",
						"src": "img/prices/range-rover-velar.png",
						"alt": "Range Rover Velar"
					},
					{
						"id": "forRRE",
						"caption": "Range Rover Evoque",
						"text": "Смелая эволюция, ни одна другая модель Range Rover не проходила таких перевоплощений. Однако вы никогда не ошибетесь, ведь это настоящий Range Rover. Восходящая поясная линия, мускулистые плечи и сужен крышу способствуют мощному и атлетическом внешнему виду Range Rover Evoque. Уникальная детализация зависит от вас. Выбирайте из широкого ассортимента легкосплавных колесных дисков, цветов и вариантов отделки на свой вкус.",
						"src": "img/prices/range-rover-evoque.png",
						"alt": "Range Rover Evoque"
					}
				]
			)
				//end block prices

				// block interior-gallery
			+interior-gallery([
				{"src": "img/interior-gallery/interior-view1.jpg", "alt": "Интерьер Автоспецсервис"},
				{"src": "img/interior-gallery/interior-view2.jpg", "alt": "Интерьер Автоспецсервис"},
				{"src": "img/interior-gallery/interior-view3.jpg", "alt": "Интерьер Автоспецсервис"},
				{"src": "img/interior-gallery/interior-view4.jpg", "alt": "Интерьер Автоспецсервис"},
				{"src": "img/interior-gallery/interior-view5.jpg", "alt": "Интерьер Автоспецсервис"}
			])
				// end block interior-gallery

				//block advantages
			+advantages({
				"class": "--range2 wow slideInRight"
			})
				//end block advantages

				// block services
			+contacts-extended()
				// end services

			+scroll-to-top({
				"class": "page__scrollTop wow bounceIn",
				"link": "#hero"
			})

		// build:js js/vendor.js
		script( src="js/libs/jquery/dist/jquery.min.js")
		script( src="js/libs/animsition/dist/js/animsition.min.js")
		script( src="js/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script( src="js/libs/jquery-validation/dist/jquery.validate.min.js")
		script( src="js/libs/wow/dist/wow.min.js")
		script( src="js/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
		// endbuild

		// build:js js/main.js
		script( src="js/main.js")
		// endbuild

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApNXjcWxKpQwh7KkYpTvegrO9NAb_NhEI&callback=contacts")

		script.
			$('.animsition').animsition({
				inClass: 'fade-in',
				outClass: 'fade-out',
				inDuration: 500,
				outDuration: 500,
				linkElement: '.animsition-link',
				// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
				loading: true,
				loadingParentElement: 'body', //animsition wrapper element
				loadingClass: 'animsition-loading',
				loadingInner: '', // e.g '<img src="loading.svg" />'
				timeout: false,
				timeoutCountdown: 1000,
				onLoadEvent: true,
				browser: ['animation-duration', '-webkit-animation-duration'],
				// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
				// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
				overlay: false,
				overlayClass: 'animsition-overlay-slide',
				overlayParentElement: 'body',
				transition: function (url) {
					window.location.href = url;
				}
			});

		script.
			new WOW().init();

		//-script.
		//-	$(window).on("load", function () {
		//-		$(".promo__info").mCustomScrollbar({
		//-			theme: "my-theme"
		//-		});
		//-	});