//*********************************************
//		Assets
//*********************************************
@import 'rupture'
@import '_assets/components/normalize'
@import '_assets/components/variables'
@import '_assets/components/mixins'
@import '_assets/components/fonts'
@import '_assets/components/svgicons'

//*********************************************
//		Blocks
//*********************************************
@import 'page'

@import 'btn/btn-singleService'

@import 'header'
@import 'logo'
@import 'menu-btn'

@import 'hero'

@import 'statistics'

@import 'materials'

@import 'bundles'
@import 'tabs'
@import 'order-form'

@import 'why'

@import 'interior-gallery'
@import 'promo'

@import 'aboutRange'
@import 'advantages'
@import 'callUs'
@import 'callback-form/action-form'
@import 'prices'

@import 'services/services-simple'

@import 'component'

@import 'contacts'
@import 'callback-form/callback-form-embeded'

@import 'scroll-to-top'
