mixin aboutRange(item)
	+b.SECTION.aboutRange(class=item.class)#about
		+e.DIV.wrap
			+e.H2.title(class="titles --landing") О нашей компании
			+e.P.lead Предприятие &laquo;Авто Спец Сервис&raquo; по праву считается одним из лучших в сфере ремонта и технического обслуживания легковых автомобилей всех марок в городе Киеве и Киевской области. Основным направлениям нашего СТО является обслуживание и ремонт автомобилей Range Rover и Mercedes-Benz. Мы создали сервис, качеству которого уже доверяют сотни клиентов.
			+e.IFRAME.video#player(src="https://www.youtube.com/embed/KmtSqnqOZGw", width="100%", height="100%", frameborder="0", allowfullscreen)