mixin main
	+b.SECTION.main
		+e.H1.title
			+e.SPAN.thin Профессиональный
			|  ремонт
			br
			+e.SPAN.bold  и обслуживание автомобилей

		+b.A.btn(class="--bordered main__btn", href="about.html") узнать больше

		+e.DIV.bg
			+e.DIV.panel(class="--one")
			+e.DIV.panel(class="--two")
			+e.DIV.panel(class="--three")
			+e.DIV.panel(class="--four")
			+e.DIV.panel(class="--five")