mixin main
	+b.SECTION.main
		+e.H1.title
			+e.SPAN.thin Профессиональный
			|  ремонт
			br
			+e.SPAN.bold  и обслуживание автомобилей

		+b.A.btn(class="--know-more main__btn", href="services.html") узнать больше