/***********************MAIN***********************/
.main
	position relative
	flex 1
	flex-container(row, nowrap, center, center)
	z-index 100
	padding 7em 0 8% 0
	color $base-text-color-light
	overflow hidden
	@media screen and (max-width: 600px)
		padding-top 15%


	&__centered
		position relative
		z-index 100
		height 14em
		padding 3%
		margin calc(100vh - 82vh) 0 0 0
		&::before
			content ''
			position absolute
			top -30%
			left -55%
			width 110%
			height 125%
			background-color rgba(97,42,0,.55)
			opacity 0
			transform-origin bottom
			animation fadeInFragments 1.5s ease 2.5s forwards
		&::after
			content ''
			position absolute
			top -30%
			right 0
			width 3.125rem
			height 3.125rem
			background-color rgba(#5a3112, .55)
			opacity 0
			transform-origin bottom
			animation fadeInFragments 1s ease-in 3.5s forwards
		@media screen and (max-width: 1050px) and (min-width: 941px)
			width 80%
		@media screen and (max-width: 940px)
			height 25vw
		@media screen and (max-width: 600px) and (orientation: portrait)
			margin-top calc(100vh - 90vh)
			padding 0 1em 2em
			height 9em
		@media screen and (max-width: 600px) and (orientation: landscape)
			margin-top 0
			padding-top: 0
			padding-bottom: 0
			height 8.5em
			&::before
			&::after
				top -10%

	&__title
		position relative
		z-index 200
		box-sizing border-box
		margin 0 auto
		font-size 3.75vw
		line-height 1.3
		font-weight normal
		opacity 0
		animation fadeInTitle 1.5s ease 3s forwards
		@media screen and (min-width: 1600px)
			font-size 3.75em
		@media screen and (max-width: 940px)
			font-size 5.5vw
		@media screen and (max-width: 700px)
			font-size 6vw
			text-align center
		@media screen and (max-width: 600px)
			font-size 2em

	&__thin
		color $base-decor-color
		font-weight normal

	&__bold
		font-weight bold

	&__btn
		right 0
		bottom 5%
		transform-origin top
		opacity 0
		transform scaleY(0)
		animation slideBtn 2s ease 3s forwards
		@media screen and (max-width: 600px) and (orientation: portrait)
			//bottom -5em
			top 100%
			right 50%
			width: 80%
			transform scaleY(0) translateX(50%)
			animation slideBtnMobile 1.5s ease 3s forwards
		@media screen and (max-width: 600px) and (orientation: landscape)
			//bottom -5vw
			top 100%
			right 50%
			width: 60%
			transform scaleY(0) translateX(50%)
			animation slideBtnMobile 1.5s ease 3s forwards
		@media screen and (max-width: 481px) and (orientation: landscape)
			top 100%


	&__image
		position absolute
		top 0
		left 0
		z-index 10
		width 100%
		height 100%
		background url("../img/main/main-bg.jpg") 0 0 no-repeat
		background-size cover
		opacity 0
		animation fadeInBg 1s ease 2s forwards
		@media screen and (min-width: 1400px), (min-height: 1200px)
			background url("../img/main/main-bg-lg.jpg") 0 0 no-repeat
			background-size cover
		@media screen and (max-width: 600px) and (orientation: portrait)
			background-position: 40% 0;

	&__light
		position absolute
		top 0
		left 0
		z-index 20
		width 100%
		height 100%
		background url("../img/main/main-bg-lighted.jpg") 0 0 no-repeat
		background-size cover
		opacity 0
		@media screen and (min-width: 1400px), (min-height: 1200px)
			background url("../img/main/main-bg-lg-lighted.jpg") 0 0 no-repeat
			background-size cover
		@media screen and (max-width: 600px) and (orientation: portrait)
			background-position: 40% 0;

		&--isAnimated
			animation fadeInBgLighted 1s ease 0s 2

	&__bg
		position absolute
		top 0
		left 0
		z-index -1
		width 100%
		height 100%
		overflow hidden

	&__panel
		float left
		position relative
		width 20%
		height 100%
		background-color $base-decor-color-dark
		transform-origin left
		opacity 0

		&--one
			animation slidePanel1 1.5s forwards

		&--two
			animation slidePanel2 1.5s forwards
			animation-delay .1s

		&--three
			animation slidePanel3 1.5s forwards
			animation-delay .2s

		&--four
			animation slidePanel4 1.5s forwards
			animation-delay .3s

		&--five
			animation slidePanel5 1.5s forwards
			animation-delay .4s


	//background image
@keyframes fadeInFragments
	0%,
	30%
		opacity 0
		transform scaleY(0)
	100%
		opacity 1
		transform scaleY(100%)

	//background image fragments
@keyframes fadeInBg
	0%
		opacity 0
	100%
		opacity 1

	//background image with light
@keyframes fadeInBgLighted
	0%,
	50%
		opacity 0
	51%
		opacity 1
	100%
		opacity 0

	//panels
@keyframes slidePanel1
	0%,
	7%
		transform scaleX(0)
		opacity 0
	37%,
	100%
		opacity 1
		transform scaleX(100%)

@keyframes slidePanel2
	0%,
	14%
		transform scaleX(0)
	44%,
	100%
		opacity 1
		transform scaleX(100%)

@keyframes slidePanel3
	0%,
	19%
		transform scaleX(0)
	51%,
	100%
		opacity 1
		transform scaleX(100%)

@keyframes slidePanel4
	0%,
	26%
		transform scaleX(0)
	58%,
	100%
		opacity 1
		transform scaleX(100%)

@keyframes slidePanel5
	0%,
	33%
		transform scaleX(0)
	65%,
	100%
		opacity 1
		transform scaleX(100%)

	//title
@keyframes fadeInTitle
	0%
		opacity 0
	100%
		opacity 1

	//btn
@keyframes slideBtn
	0%
		opacity 0
		transform scaleY(0)
	100%
		opacity 1
		transform scaleY(1)

@keyframes slideBtnMobile
	0%
		opacity 0
		transform scaleY(0) translateX(50%)
	100%
		opacity 1
		transform scaleY(1)	translateX(50%)