/***********************MAIN***********************/
.main
	position relative
	flex 1
	background #1f282a url("../img/main/main-bg.jpg") 0 0 no-repeat
	background-size cover
	color $base-text-color-light

	&__title
		margin calc(100vh - 55vh) 5% 0 13.5%
		font-size 3rem
		line-height 1.3
		font-weight normal
		@media screen and (max-width: $media-md) and (orientation: portrait)
			margin-top calc(100vh - 65vh)
			margin-left 8%
			font-size 9vw
			text-align center
		@media screen and (max-width: 750px) and (orientation: landscape)
			font-size 5.5vw
			text-align center

	&__thin
		color $base-decor-color
		font-weight normal

	&__bold
		font-weight bold

	&__btn
		margin 7% 10% 0 calc(100vw - 52.5vw)
		@media screen and (max-width: 1200px)
			margin-left calc(100vw - 70vw)
		@media screen and (max-width: $media-md) and (orientation: portrait)
			margin 15% auto 0
		@media screen and (max-width: 750px) and (orientation: landscape)
			margin 5% auto 0
			font-size 5vw