/************action-form**************/
.action-form
	position: relative
	z-index: 200
	box-sizing border-box
	max-height 28.75em
	min-height 25em
	margin-top: 1em
	padding 1em 1.5em
	font-size 1rem
	color $base-text-color-light
	border-radius: 1em;
	background url("../img/sidebar/sidebar-bg.jpg") 0 0 repeat
	opacity: 0
	visibility: hidden
	transition all .5s ease .3s

	&--isActive
		opacity: 1
		visibility: visible

	&__row
		position: relative

	&__label
		display block
		margin-top: 1.5em;
		text-align: left;
		@media screen and (max-height: 460px)
			margin-top: 1em;

	&__input
		display block
		box-sizing border-box
		width 20em
		min-height 3.4em
		margin-top 1.5%
		padding 0 1em
		background-color #363636
		border-radius 1em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		outline none
		transition all .3s ease
		-webkit-appearance none
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		@media screen and (min-width: 1440px)
			width 20em
		@media screen and (max-width: 375px)
			width 15em

	&__area
		display block
		box-sizing border-box
		width 20em
		height 6em
		margin-top 1.5%
		padding .3em 1em
		background-color #363636
		border-radius 1em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		outline none
		resize none
		transition all .3s ease
		-webkit-appearance none
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		@media screen and (min-width: 1440px)
			width 20em
			height 7em
		@media screen and (max-width: 375px)
			width 15em

	&__btn
		box-sizing: border-box
		margin-top 4em
		width: 100%
		color $base-decor-color
		letter-spacing .1em
		background-color #363636
		border-radius 1.5em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-light
		border-left-color $sidebar-bd-color-light
		border-bottom-color $sidebar-bd-color-dark
		border-right-color $sidebar-bd-color-dark
		transition all .3s ease
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		&:active
			border-top-color $sidebar-bd-color-dark
			border-left-color $sidebar-bd-color-dark


	&__close
		position absolute
		top 1em
		right 1em
		width 1.5em
		height 1.5em
		padding 0
		outline none
		background rgba(0,0,0,0)
		border none
		&:hover
		&:focus
			.action-form__icon
				fill $base-decor-color

	&__icon
		fill lighten(#000, 15%)
		transition: all .4s ease;

	label.error
		display block
		position: relative
		top: 0
		left: 0
		width 100%
		text-align: left;
		font-size 1em
		color lighten(#bc0d0d, 30%)