/************CALLBACK-FORM**************/
.callback-form
	position: relative
	z-index: 6000
	box-sizing border-box
	max-height 28.75em
	padding 1em 1.5em
	font-size 1rem
	color $base-text-color-light
	border-radius: 1em;
	background url("../img/sidebar/sidebar-bg.jpg") 0 0 repeat
	opacity: 0
	visibility: hidden
	transition all .5s ease .3s
	@media screen and (min-width: 1440px)
		max-height 32em
		padding 2em
	@media screen and (max-height: 460px)
		padding 0 2.5em .5em

	&--isActive
		opacity: 1
		visibility: visible

	&__label
		display block
		margin-top: 1em;
		@media screen and (max-height: 460px)
			margin-top: .5em;

	&__input
		display block
		box-sizing border-box
		width 20em
		min-height 3.4em
		margin-top 1.5%
		padding 0 1em
		background-color #363636
		border-radius 1em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		outline none
		transition all .3s ease
		-webkit-appearance none
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		@media screen and (min-width: 1440px)
			width 20em
		@media screen and (max-width: 375px)
			width 15em
		@media screen and (max-height: 460px)
			width 21em
			height 2.8em

	&__area
		display block
		box-sizing border-box
		width 20em
		height 6em
		margin-top 1.5%
		padding .3em 1em
		background-color #363636
		border-radius 1em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		outline none
		resize none
		transition all .3s ease
		-webkit-appearance none
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		@media screen and (min-width: 1440px)
			width 20em
			height 7em
		@media screen and (max-width: 375px)
			width 15em
		@media screen and (max-height: 460px)
			width 21em
			height 3em

	&__btn
		margin-top 2em

	&__close
		position absolute
		top 1em
		right 1em
		width 1.5em
		height 1.5em
		padding 0
		outline none
		background rgba(0,0,0,0)
		border none
		&:hover
		&:focus
			.callback-form__icon
				fill $base-decor-color

	&__icon
		fill lighten(#000, 15%)
		transition: all .4s ease;