/************CALLBACK-FORM**************/
.callback-form
	position absolute
	top calc(100vh - 72.5vh)
	box-sizing border-box
	width 100%
	height 22.5820625em
	padding 2em 3em
	font-size 1rem
	color $base-text-color-light
	background url("../img/sidebar/sidebar-bg.jpg") 0 0 repeat
	border-top $sidebar-elements-bd-width solid $sidebar-bd-color-light
	border-bottom $sidebar-elements-bd-width solid $sidebar-bd-color-dark
	transform translateX(100%)
	transition all .5s ease
	&:before
		content ''
		position absolute
		top 0
		left 0
		width 101%
		height $sidebar-elements-bd-width
		background-color $sidebar-bd-color-dark
	&:after
		content ''
		position absolute
		top 100%
		left 0
		width 100%
		height $sidebar-elements-bd-width
		background-color $sidebar-bd-color-light
	@media screen and (max-height: 700px)
		//top 8.3em
		top calc(100vh - 75vh)
		height 19.640625em
		padding 1.5em
	@media screen and (max-height: 600px)
		top 8.75em
	@media screen and (max-height: 600px)
		height 15.4453125em
		padding .8em 1.5em
	@media screen and (max-height: 480px) and (orientation: landscape)
		top 10vmin
		height 10.5em
		padding-top .3em
	@media screen and (max-height: 480px) and (orientation: portrait)
		top 25vmax

	&--isActive
		transform translateX(0)
		transition all .5s ease

	&__label
		display block
		@media screen and (max-height: 480px) and (orientation: landscape)
			display inline-block
			width 25%

	&__input
		display block
		box-sizing border-box
		width 100%
		height 3.4em
		margin-top 1.5%
		padding 0 1.3em
		line-height @height
		color #777777
		background-color #363636
		border-radius 2.1875em
		border-style solid
		border-width $sidebar-elements-bd-width
		border-top-color $sidebar-bd-color-dark
		border-left-color $sidebar-bd-color-dark
		border-bottom-color $sidebar-bd-color-light
		border-right-color $sidebar-bd-color-light
		outline none
		transition all .3s ease
		&:hover
		&:focus
			background-color lighten(#363636, 2%)
		@media screen and (max-height: 600px)
			height 2.8em
		@media screen and (max-height: 480px) and (orientation: landscape)
			display inline-block
			width 75%

	&__btn
		margin-top 23%
		@media screen and (max-width: $media-md) and (orientation: landscape)
			margin-top 15%
		@media screen and (max-height: 700px)
			margin-top 10%
		@media screen and (max-height: 600px)
			margin-top 5%