mixin menu-btn(item)
	+b.BUTTON.menu-btn(class="header__btn", type="button")
		+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox=item.viewBox, width=item.width, height=item.height)
			path(d=item.path)