mixin interior-gallery(items)
	+b.DIV.interior-gallery(class="wow fadeIn")
		+e.DIV.tour#tour
			+e.IFRAME.frame#frame(src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sua!4v1487693315974!6m8!1m7!1sTGi5V0bRJfAAAAQvxdTy9w!2m2!1d50.47149676030058!2d30.50036391243123!3f9.795093131055864!4f-2.761128469752123!5f0.7820865974627469", allowfullscreen)
		+e.UL.list
			each item in items
				+e.item
					+e.IMG.img(src=item.src, alt=item.alt)