/*!******************HEADER******************/
.header
	position absolute
	top 0
	left 0
	z-index 1000
	width 100%
	box-sizing border-box
	@media screen and (max-width: 940px)
		flex-container(row, nowrap, space-between, center)
		box-sizing border-box
		padding 5% 5% 0

	//&__btn
	//	margin 2.7em 3.1em 0 0
