/***********************HERO***********************/
.hero
	position relative
	box-sizing border-box
	min-height 43.75em
	padding 6.5625em 0 2em
	color $base-text-color-light
	text-align center
	overflow: hidden
	background-color: $base-overlay-element-color
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
	&::before
		content: ""
		position: absolute
		z-index: 10
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba($base-overlay-element-color, .9)

	&__bg
		position: absolute
		z-index: 0
		top: 0
		right: 0
		width: 100%
		height: 100%
		object-fit cover


	&__title
		position relative
		z-index: 100
		width 12em
		margin 4.5em auto 0
		@media screen and (max-width: 599px)
			width 95%
			padding 0 2.5%
		@media screen and (max-width: 450px)
			margin-top 5.5em
			width: 90%
		&::before
			content ''
			position absolute
			top -1.7em
			left 44%
			width 1.5625em
			height 1.5em
			@media screen and (max-width: 450px)
				width @width * .8
				height @height * .8
				top -1.3em
				left 43%

		&--service::before
			background url("../img/hero/hero__title-icon1.png") 0 0 no-repeat
			background-size cover
		&--chassis::before
			background url("../img/hero/hero__title-icon2.png") 0 0 no-repeat
			background-size cover
		&--transmission::before
			background url("../img/hero/hero__title-icon3.png") 0 0 no-repeat
			background-size cover
		&--painting::before
			background url("../img/hero/hero__title-icon4.png") 0 0 no-repeat
			background-size cover
		&--diagnostics::before
			background url("../img/hero/hero__title-icon5.png") 0 0 no-repeat
			background-size cover
		&--duplicates::before
			height 1.5625em
			background url("../img/hero/hero__title-icon6.png") 0 0 no-repeat
			background-size cover
			@media screen and (max-width: 450px)
				height @height * .8
		&--spec::before
			width 1.75em
			background url("../img/hero/hero__title-icon7.png") 0 0 no-repeat
			background-size cover
			@media screen and (max-width: 450px)
				width @width * .8

	&__lead
		position: relative
		z-index: 100
		width 25em
		margin .5em auto 0
		font-size 1.5em
		@media screen and (max-width: 840px)
			margin-top 1em
			font-size 1.2em
		@media screen and (max-width: 599px)
			box-sizing border-box
			width 100%
			padding 0 2.5%
		@media screen and (max-width: 450px)
			width: 90%

	&__link
		position: relative
		z-index: 100
		display block
		width 1.2em
		height 1em
		margin 3.5em auto 0
		transform-origin 50% 50% 0
		@media screen and (max-width: 450px)
			margin-top 2em

	&__icon
		width 100%
		height 100%
		fill $base-text-color-light
		stroke $base-text-color-light
		stroke-width 1em
		transition all .3s ease
		&:hover
		&:active
		&:focus
			fill $base-decor-color
			stroke $base-decor-color

	&__circle
		position absolute
		top 0
		z-index: 100
		height 100%
		width 12.8em
		@media screen and (max-width: 599px)
			display none
		&::before
			content: ''
			position absolute
			//top 33.5%
			top 15.5em
			width 14.3em
			height 14.3em
			background url("../img/sidebar/sidebar-circle-inner.png") center no-repeat
			background-size cover
			transform-origin 50% 50% 0
			animation rotateCircle 20s linear infinite reverse
			will-change transform
			+retina()
				background-image url("../img/sidebar/sidebar-circle-inner-lg.png")
			@media screen and (max-width: 1330px)
				//top 37%
				width @width * .7
				height @height * .7
			@media screen and (max-width: 780px)
				display none
				background none
		&::after
			content: ''
			position absolute
			//top 21%
			top 9.7em
			width 25.6em
			height 25.6em
			background url("../img/sidebar/sidebar-circle-outer.png") center no-repeat
			background-size cover
			transform-origin 50% 50% 0
			animation rotateCircle 30s linear infinite
			will-change transform
			+retina()
				background-image url("../img/sidebar/sidebar-circle-outer-lg.png")
			@media screen and (max-width: 1330px)
				//top 27.8%
				top 11.5em
				width @width * .7
				height @height * .7
			@media screen and (max-width: 780px)
				display none
				background none

		&--left
			left 0
			&::before
				left -57%
				@media screen and (max-width: 1330px)
					left -40%
			&::after
				left -100%
				@media screen and (max-width: 1330px)
					left -70%

		&--right
			right 0
			&::before
				right -57%
				@media screen and (max-width: 1330px)
					right -40%
			&::after
				right -100%
				@media screen and (max-width: 1330px)
					right -70%

@keyframes rotateCircle
	0%
		transform rotateZ(0deg)
	100%
		transform rotateZ(360deg)