/*******************PROMO******************/
.promo
	padding 1.5em 0 2.5em

	&__wrap
		width 50%
		min-width 17.5em
		max-width $base-wrap-element-width * .5

		margin: 0 auto
		@media screen and (max-width: 1199px)
			box-sizing border-box
			width 100%
			padding 0 1.25em

	&__title
		margin: 0
		text-align: center

	&__info
		height 15.6em
		margin: 1em 0 0
		overflow-y: auto