include ../vacancies/vacancies

mixin tab-panel
	+b.DIV.tab-panel
		+e.UL.menu
			+e.tab(class="--active") миссия
			+e.tab принципы
			+e.tab история
			+e.tab 3D тур

		+e.DIV.item(class="--active --animate")
			+e.H3.subtitle Миссия Авто Спец Сервис.
			+e.P.text Предоставлять такой уровень сервиса, который позволит нашим клиентам при минимальных затратах получать максимальный результат. Мы бережем ваше время, средства и нервы.
			+e.P.text Мы создали сервис, качеству которого уже доверяют сотни клиентов, но мы не стоим на месте и стараемся стать любимым и единственным местом автосервиса еще для многих автолюбителей.

		+e.DIV.item
			+e.H3.subtitle Принципы Авто Спец Сервис.
			+e.P.text Наша главная ценность это &mdash;
				+e.STRONG.strong  качество и репутация
			+e.P.text Мы честны и порядочны.
			+e.P.text Мы открыты и позитивны.
			+e.P.text Мы постоянно развиваемся и совершенствуемся.
			+e.P.text Мы стремимся мыслить нестандартно и инновационно.
			+e.P.text Мы не даем &laquo;пустых&raquo; обещаний и всегда выполняем то что говорим.
			+e.P.text Мы ломаем стереотипы: автосервис &mdash; не там где обманут, а там где скажут правду
			+e.P.text Мы за долгосрочные и взаимовыгодные отношения.
			+e.P.text Мы относимся с уважением и доверием к нашим клиентам, партнерам и сотрудникам, рассчитывая на взаимность.

		+e.DIV.item(class="--history")
			+e.H3.subtitle(class="--history") История Авто Спец Сервис.
				br
				|  Рекомендуют близкие друзья!
			+e.DIV.row
				+e.DIV.col(class="--photo")
					+e.FIGURE.person
						+e.IMG.img(src="img/tab-panel/ceo.png", alt="Директор Авто Спец Сервис Виктор Бондаренко")
						+e.FIGCAPTION.caption
							+e.P.desc Виктор Бондаренко
							+e.P.desc директор
				+e.DIV.col
					+e.P.text С самого раннего детства, как и большинство мальчишек, я любил играть с игрушками, особенно с машинками и в &laquo;машинки&raquo;, а так же все игры с ними связанные, будь то уменьшенные модели машин различного размера, с открывающимися дверками и без них, на батарейках и с радио управлением, и&nbsp;конечно мечта любого мальчишки времен 80х&nbsp;
						+e.A.link(href="https://www.youtube.com/watch?v=ZTZc-fBvQGI", target="_blank") детский авто-симулятор &laquo;За рулем&raquo;
						| &nbsp;(тот кто застал еще &laquo;то время&raquo;, когда Украина была одной из 15-ти республик в составе СССР, меня поймет), детские эмоции и радость от владения подобным &laquo;чудом техники&raquo; никакими словами не передать, это надо только пережить.
					+e.P.text Прошли годы, детство сменилось юностью, и наконец я стал совершеннолетним, а это значило, что я могу получить права и стать полноправным автовладельцем (в тот период жизни это было синонимом &laquo;настоящнго крутого мужика на собственной тачке&raquo; перед которым открыты все двери и девушки сами вешаются на шею). Теперь, спустя годы, это кажется наивным и смешным, но только не когда тебе почти 18 и в гараже стоит доставшаяся тебе от деда &laquo;копейка&raquo;, Жигули ВАЗ 2101 1978 г. в., красного цвета, после ДТП, ржавая и не &laquo;на ходу&raquo;. Но кого это пугает когда ты полон сил и юношеский максимализм преобладает над здравым смыслом. А в то время я уже поступил на первый курс Автомобильно-дорожного университета, что еще больше вселяло в меня уверенность в своих силах.
					+e.P.text И наверное в тот момент, когда я решил восстановить дедово наследство, и началась история создания &laquo;АвтоСпецСервис&raquo;, хотя от идеи до воплощения её в жизнь пройдет ещё много лет.
					+e.P.text Наша история еще только создается и каждый прожитый день добавляет в нее новые главы. Прямо сейчас, читая эти строки, вы либо уже часть нашей истории, либо можете ею стать и спасибо вам за это. Мы пишем свою историю вместе с нашими клиентами, партнерами и просто друзьями, а так как их количество постоянно растет, мы верим в то, что впереди у нас еще много интересного &mdash; иначе мы никогда не устанем заниматься своим любимым делом: ремонтировать &laquo;тачки&raquo;, помогать клиентам, расширять круг друзей, заводить новые знакомства и просто общаться с интересными людьми.
					//-+e.P.text Может быть тогда появиться больше свободного времени, и мы, наконец-то, заполним этот раздел нашего сайта.
					+e.P.text Продолжение следует&hellip;


		+e.DIV.item(class="--tour")
			+e.H3.subtitle 3D тур и видео
			+e.IFRAME.frame#frame(src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sua!4v1487693315974!6m8!1m7!1sTGi5V0bRJfAAAAQvxdTy9w!2m2!1d50.47149676030058!2d30.50036391243123!3f9.795093131055864!4f-2.761128469752123!5f0.7820865974627469", allowfullscreen)
			+e.IFRAME.video(src="https://www.youtube.com/embed/8LN4nIogJUI", allowfullscreen)
			//-+e.DIV.frame#player
			//-+e.VIDEO.video#autoSpecVideo(controls, poster="video/poster.jpg")
			//-	source(src="video/rangerover.mp4", type="video/mp4")
			//-	source(src="video/rangerover.ogv", type="video/ogg")
			//-	| Ваш браузер не поддерживает video