mixin tab-panel
	+b.DIV.tab-panel

		+e.UL.menu
			+e.tab(class="--active") история
			+e.tab цель
			+e.tab миссия

		+e.DIV.item(class="--active --animate --history")
			+e.H3.subtitle История Авто Спец Сервис.
				br
				|  Рекомендуют близкие друзья!
			+e.P.text Ремонт машины неизменно оборачивается кошмаром. Раз за разом вам приходится объезжать все новые и новые автосервисы в поисках приемлемых цен, чтобы в итоге доверить ремонт своего автомобиля непроверенным мастерам на свой страх и риск?
			+e.P.text Наша основная задача — максимально упростить процесс ремонта вашего автомобиля, сделав его быстрым и удобным. С нами ремонт вашего чудесного автомобиля перестанет быть такой трудновыполнимой задачей. Теперь вы можете, не выходя из дома/офиса отправить заявку и выбрать надежный.
			+e.FIGURE.person
				+e.IMG.img(src="img/tab-panel/ceo.png", alt="Директор Авто Спец Транс Петр Иванович")
				+e.FIGCAPTION.caption
					+e.P.desc Петр Иванович
					+e.P.desc директор

		+e.DIV.item
			+e.H3.subtitle Цель Авто Спец Сервис.
			+e.P.text Ремонт машины неизменно оборачивается кошмаром. Раз за разом вам приходится объезжать все новые и новые автосервисы в поисках приемлемых цен, чтобы в итоге доверить ремонт своего автомобиля непроверенным мастерам на свой страх и риск?
			+e.P.text Наша основная задача — максимально упростить процесс ремонта вашего автомобиля, сделав его быстрым и удобным. С нами ремонт вашего чудесного автомобиля перестанет быть такой трудновыполнимой задачей. Теперь вы можете, не выходя из дома/офиса отправить заявку и выбрать надежный.

		+e.DIV.item
			+e.H3.subtitle Миссия Авто Спец Сервис.
			+e.P.text Ремонт машины неизменно оборачивается кошмаром. Раз за разом вам приходится объезжать все новые и новые автосервисы в поисках приемлемых цен, чтобы в итоге доверить ремонт своего автомобиля непроверенным мастерам на свой страх и риск?
			+e.P.text Наша основная задача — максимально упростить процесс ремонта вашего автомобиля, сделав его быстрым и удобным. С нами ремонт вашего чудесного автомобиля перестанет быть такой трудновыполнимой задачей. Теперь вы можете, не выходя из дома/офиса отправить заявку и выбрать надежный.