include ../tabs/tabs
include ../order-form/order-form

mixin bundles
	+b.SECTION.bundles#bundles
		+e.DIV.wrap
			+tabs()
			+order-form()

			+e.DIV.table-wrap
				+e.TABLE.table(class="wow fadeIn", data-wow-duration="1s")
					+e.THEAD.heading
						+e.TR.row
							+e.TH.head-cell(class="--title") Условия / Вариант исполнения
							+e.TH.head-cell бюджет
							+e.TH.head-cell стандарт
							+e.TH.head-cell премиум
					+e.TBODY.content
						+e.TR.row
							+e.TD.content-cell(class="--title") Использование качественных лакокрасочных метериалов
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
						+e.TR.row
							+e.TD.content-cell(class="--title") Использование высокачественых покрасочных материалов
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
						+e.TR.row
							+e.TD.content-cell(class="--title") Прием без записи
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
						+e.TR.row
							+e.TD.content-cell(class="--title") Гарантия попадания в цветв
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
						+e.TR.row
							+e.TD.content-cell(class="--title") Пунктуальность
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
						+e.TR.row
							+e.TD.content-cell(class="--title") Бесплатная полировка смежных деталей
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
						+e.TR.row
							+e.TD.content-cell(class="--title") Бесплатная покраска смежных деталей Бесплатная покраска смежных деталей Бесплатная покраска смежных деталей
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")
							+e.TD.content-cell(class="--checked")