include ../tabs/tabs
include ../order-form/order-form

mixin bundles
	+b.SECTION.bundles#bundles
		+e.DIV.wrap
			+tabs()
			+order-form()

			+e.DIV.table-wrap
				+e.TABLE.table(class="wow fadeIn", data-wow-duration="1s")
					+e.THEAD.heading
						+e.TR.row
							+e.TH.head-cell Условия / Вариант исполнения
							+e.TH.head-cell(data-th="Условия / Вариант исполнения") бюджет
							+e.TH.head-cell(data-th="Условия / Вариант исполнения") стандарт
							+e.TH.head-cell(data-th="Условия / Вариант исполнения") премиум
					+e.TBODY.content
						+e.TR.row
							+e.TD.content-cell Использование качественных лакокрасочных метериалов
							+e.TD.content-cell(data-th="Использование качественных лакокрасочных метериалов", class="--checked")
							+e.TD.content-cell(data-th="Использование качественных лакокрасочных метериалов", class="--checked")
							+e.TD.content-cell(data-th="Использование качественных лакокрасочных метериалов", class="--checked")
						+e.TR.row
							+e.TD.content-cell Использование высокачественых высокачеств
							+e.TD.content-cell(data-th="Использование высокачественых высокачеств", class="--checked")
							+e.TD.content-cell(data-th="Использование высокачественых высокачеств", class="--checked")
							+e.TD.content-cell(data-th="Использование высокачественых высокачеств", class="--checked")
						+e.TR.row
							+e.TD.content-cell Гарантия на работы
							+e.TD.content-cell(data-th="Гарантия на работы") 3 месяца
							+e.TD.content-cell(data-th="Гарантия на работы") 12 месяцев
							+e.TD.content-cell(data-th="Гарантия на работы") 24 месяца
						+e.TR.row
							+e.TD.content-cell Прием без записи
							+e.TD.content-cell(data-th="Прием без записи", class="--checked")
							+e.TD.content-cell(data-th="Прием без записи", class="--checked")
							+e.TD.content-cell(data-th="Прием без записи", class="--checked")
						+e.TR.row
							+e.TD.content-cell Гарантия пунктуальности
							+e.TD.content-cell( class="--checked")
							+e.TD.content-cell( class="--checked")
							+e.TD.content-cell( class="--checked")
						+e.TR.row
							+e.TD.content-cell Бесплатная полировка смежных деталей
							+e.TD.content-cell( class="--checked")
							+e.TD.content-cell( class="--checked")
							+e.TD.content-cell( class="--checked")