mixin logo(item)
	+b.A()&attributes({
		"id": item.id,
		"class": item.class,
		"href": item.href
	})
		picture
			source(media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)", srcset=item.set)
			+e.IMG.img(src=item.src, alt=item.alt)