/*!******************LOGO******************/
.logo
	position relative
	z-index 200
	display block
	width 16.875em
	height 3.8125em
	margin 2.7em 0 0 3.1em
	font-size 1rem
	opacity 1
	transition all .4s ease
	@media screen and (max-width: 940px)
		margin 0
	@media screen and (max-width: $media-md) and (orientation: portrait)
		width 45vw
		height 11vw
	@media screen and (max-width: $media-md) and (orientation: landscape)
		width 30vw
		height 6.777vw


	&--isAnimated
		opacity 0
		animation fadeInLogo 2s ease 3s forwards

	&--isFaded
		opacity 0

	&--singleService
		margin 0
		@media screen and (max-width: 600px)
			width 10em
			height auto

	&--isComponent
		margin: 0


	&__img
		display block
		max-width 100%
		height auto

		&--isTransparent
			opacity .5


@keyframes fadeInLogo
	0%
		opacity 0
	100%
		opacity 1
