/*******************TRUST******************/
.trust
	position: relative
	flex 1
	height 100vh
	padding 7em 5% 3% 7.5%
	box-sizing border-box
	font-size 1rem
	background #2f3d41 url("../img/trust/trust-bg.jpg") 0 0 no-repeat
	background-size cover
	overflow auto
	@media screen and (max-height: 750px), (max-width: 750px)
		padding 6em 5% 1%
	@media screen and (max-width: 390px)
		padding 5.5em 5% 5% 5%

	&--isOverlay
		&::before
			content ""
			position absolute
			top 0
			left 0
			z-index 600
			width 100vw
			height 100vh
			background rgba(#000, .4)
		
	&__title
		margin .9em 0 0
		@media screen and (max-height: 780px), (max-width: 750px)
			margin-top .5em
		@media screen and (max-width: 450px)
			font-size 2.1em

	&__desc
		width 33.75em
		margin 2.5em auto 0
		color $base-text-color-light
		@media screen and (max-height: 780px)
			margin-top 1em
		@media screen and (max-width: 600px)
			width 100%
			margin-top .5em

	&__cars
		position relative
		z-index: 500
		max-width 65em
		margin 1em auto 0
		@media screen and (max-width: 940px)
			width: 90%

		&--isOverlay
			z-index: 100;

	&__thumbs
		flex-container(row, wrap, center, stretch)
		align-content center
		margin 0
		padding 0
		list-style none
		//overflow-y auto

	&__thumbs-item
		position relative
		width 9.375em
		height 9.375em
		margin 1em
		background-color #9aa2a3
		border-radius .5em
		cursor pointer
		transform-origin 50% 50% 0
		transition all .4s ease
		transform scale(1)
		&:hover
			transform scale(1.1)
			box-shadow .1em .1em .3em .3em rgba(#000, .3)
			background-color lighten(@background-color, 30%)
		@media screen and (max-height: 750px)
			width 8em
			height 8em
		@media screen and (max-width: 450px)
			width 6.6em
			height 6.6em
			margin .5em


	&__thumbs-img
		display block
		position absolute
		top 50%
		left 50%
		max-width 7.625em
		max-height 4.5625em
		transform translate(-50%, -50%)
		@media screen and (max-height: 750px)
			transform translate(-50%, -50%) scale(0.9)
		@media screen and (max-width: 450px)
			transform translate(-50%, -50%) scale(0.7)

	&__modals
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		min-height 100%
		margin 0
		padding 0
		border-radius .5em
		list-style none
		overflow hidden
		visibility hidden
		opacity 0
		transform translateX(-150%) scaleX(0)
		transition opacity .5s ease .2s, visibility .5s ease .2s, transform .2s ease-in
		
		&--isActive
			visibility visible
			opacity 1
			background-color #9aa2a3
			transform translateX(0) scaleX(1)

		&--isMove
			visibility hidden
			opacity 0
			transform translateX(-150%) scale(0.1)
			transition opacity .5s ease, visibility .5s ease, transform .2s ease-in .6s


	&__slide
		box-sizing border-box
		padding 3.5em 1.5em 2em 11.5em
		visibility hidden
		opacity 0
		border-radius .5em
		&:nth-child(odd)
			background-color lighten(#9aa2a3, 20%)
		@media screen and (min-width: 941px) and (max-width: 1020px), (max-width: 580px)
			padding-left 8.5em
			padding-right 1em
		@media screen and (max-width: 390px)
			padding-top 8.5em
			padding-left 1.6em
			font-size .875em

		&--isActive
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			visibility visible
			opacity 1

	&__subtitle
		font-size 1.5em
		margin 0

	&__logo-wrap
		position absolute
		top 4em
		left: 2.5em
		width 7.625em
		height 5.625em
		padding-top: 1em;
		@media screen  and (min-width: 941px) and (max-width: 1020px), (max-width: 580px)
			transform translateX(-25%) scale(.8)
		@media screen and (max-width: 390px)
			top 2em

	&__logo
		display block
		max-width: 100%
		max-height: 100%
		margin: 0 auto

	&__lead
		margin 1.3em 0 0
		font-weight bold
		@media screen and (max-height: 750px)
			margin-top .5em

	&__info
		height: 50%;
		overflow-y auto
		margin .5em 0 1em 0

	&__link
		display block
		position absolute
		bottom 1.2em
		height 1.2em
		font-family inherit
		color $base-decor-color
		text-decoration none
		transition all .3s ease
		&:before
			content ''
			position absolute
			bottom 0
			left 0
			width 100%
			height 1px
			background-color rgba($base-decor-color, .5)
		&:hover
		&:active
		&:focus
			color lighten($base-decor-color, 10%)
			&:before
				background-color rgba(lighten($base-decor-color, 10%), .5)
		@media screen and (min-width: 941px) and (max-width: 1020px), (max-width: 580px)
			left 8.5em
			bottom 1em
		@media screen and (max-width: 390px)
			left 1.6em

	&__controls
		position absolute
		top 12em
		left 0
		z-index 800
		width 10em
		height 4em
		padding 0
		visibility hidden
		opacity 0
		transition opacity .2s, visibility .2s
		@media screen and (max-width: 390px)
			left auto
			right 0
			top 4.5em
			height 3em
			width 8em

		&--isActive
			visibility visible
			opacity 1

	&__toggle
		display inline-block
		position absolute
		bottom 16%
		width 3em
		height 3em
		cursor pointer
		&:hover
			.trust__icon
				fill $base-decor-color
		@media screen  and (min-width: 941px) and (max-width: 1020px), (max-width: 580px)
			width 2em
			height 2em
		@media screen and (max-width: 390px)
			width 1.8em
			height 1.8em

		&--prev
			left 2.5em
			@media screen  and (min-width: 941px) and (max-width: 1020px), (max-width: 580px)
				left 2em

		&--next
			left 7em
			@media screen  and (min-width: 941px) and (max-width: 1020px), (max-width: 580px)
				left 5em

	&__btn
		position absolute
		top 1.75em
		right 1.75em
		width 1.5em
		height 1.5em
		padding 0
		outline none
		background rgba(0,0,0,0)
		border none
		visibility hidden
		opacity 0
		&:hover
		&:focus
			.trust__icon
				fill $base-decor-color

		&--isActive
			visibility visible
			opacity 1

	&__icon
		width 100%
		height 100%
		fill $base-text-color
		transition all .3s ease
		
	a
		text-decoration: none;
		color: $base-decor-color;