mixin title(titles)
	+e.UL.menu
		each title in titles
			+e.tab(class=title.class)= title.text

mixin list(items)
	each item in items
		+e.LI.service(class=item.class)
			+e.SPAN.caption= item.title
			+e.SPAN.price= item.text
			+e.SPAN.line
			+e.SPAN.pointer
			+e.SPAN.dot

mixin tabs
	+b.DIV.tabs(class="wow slideInLeft")
		+title([
			{"class": "--active", "text": "бюджет"},
			{"class": "", "text": "стандарт"},
			{"class": "", "text": "премиум"}
		])

		+e.DIV.item(class="--active")
			+e.H3.subtitle(class="titles --landing") Пакет ”Бюджет“
			+e.P.info Для тех, кому важно очень срочно и не дорого! Бюджет-покраска, это быстро обновить внешний вид детали или заменить цвет автомобиля. При этом преображение происходит буквально на глазах. Покраска просходит в камере. Цена покраски одной стандартной детали – 1900 грн.
			+e.FIGURE.figure
				+e.IMG.img(class="--sedan", src="img/tabs/budget-car.png", alt="Автомобиль")
				+e.UL.list
					+list([
						{"class": "--service1 --service1_sedan_positioned", "title": "Капот", "text": "1000 грн"},
						{"class": "--service2 --service2_sedan_positioned", "title": "Капот", "text": "1000 грн"},
						{"class": "--service3", "title": "Капот", "text": "1000 грн"},
						{"class": "--service4 --service4_sedan_positioned", "title": "Бампер", "text": "1000 грн"},
						{"class": "--service5 --service5_sedan_positioned", "title": "Бампер", "text": "1000 грн"},
						{"class": "--service6", "title": "Кузовной ремонт ремонт", "text": "1000 грн"}
					])
		+e.DIV.item
			+e.H3.subtitle(class="titles --landing") Пакет ”Стандарт“
			+e.P.info Для тех, кому важно очень срочно и не дорого! Бюджет-покраска, это быстро обновить внешний вид детали или заменить цвет автомобиля. При этом преображение происходит буквально на глазах. Покраска просходит в камере. Цена покраски одной стандартной детали – 1900 грн.
			+e.FIGURE.figure
				+e.IMG.img(src="img/tabs/standard-car.png", alt="Автомобиль")
				+e.UL.list
					+list([
						{"class": "--service1", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service2", "title": "Ремонт, реставрация и восстановление рычагов подвески", "text": "1000 грн"},
						{"class": "--service3", "title": "Реставрация шаровых опор", "text": "1000 грн"},
						{"class": "--service4", "title": "Люк и стеклоподъемники", "text": "1000 грн"},
						{"class": "--service5", "title": "Замена / долив антифриза", "text": "1000 грн"},
						{"class": "--service6", "title": "Сварочные работы", "text": "1000 грн"}
					])
		+e.DIV.item
			+e.H3.subtitle(class="titles --landing") Пакет ”Премиум“
			+e.P.info Ремонт машины неизменно оборачивается кошмаром. Раз за разом вам приходится объезжать все новые и новые автосервисы в поисках приемлемых цен.
			+e.FIGURE.figure
				+e.IMG.img(class="--sedan", src="img/tabs/premium-car.png", alt="Автомобиль")
				+e.UL.list
					+list([
						{"class": "--service1 --service1_sedan_positioned", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service2 --service2_sedan_positioned", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service3", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service4 --service4_sedan_positioned", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service5 --service5_sedan_positioned", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service6", "title": "Кузовной ремонт", "text": "1000 грн"}
					])

