mixin title(titles)
	+e.UL.menu
		each title in titles
			+e.tab(class=title.class)= title.text

mixin list(items)
	each item in items
		+e.LI.service(class=item.class)
			+e.SPAN.caption= item.title
			+e.SPAN.price= item.text
			+e.SPAN.line
			+e.SPAN.pointer
			+e.SPAN.dot

mixin tabsSimple
	+b.DIV.tabs(class="wow slideInLeft")
		+e.DIV.item(class="--active")
			+e.H3.subtitle(class="titles") Пакет ”Бюджет“
			+e.P.info Ремонт машины неизменно оборачивается кошмаром. Раз за разом вам приходится объезжать все новые и новые автосервисы в поисках приемлемых цен.
			+e.FIGURE.figure
				+e.IMG.img(src="img/tabs/budget-car.png", alt="Автомобиль")
				+e.UL.list
					+list([
						{"class": "--service1", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service2", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service3", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service4", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service5", "title": "Кузовной ремонт", "text": "1000 грн"},
						{"class": "--service6", "title": "Кузовной ремонт", "text": "1000 грн"}
					])

