/***********************CLIENTS***********************/
.clients
	flex 1
	flex-container(row, wrap, space-between, flex-start)
	align-content flex-start
	padding 7em 3% 0 7.5%
	box-sizing border-box
	font-size 1rem
	overflow-x hidden
	background #fff url("../img/clients/clients-bg-lg.jpg") 0 0 no-repeat
	background-size cover
	@media screen and (max-height: 620px), (max-width: 1090px)
		overflow-y auto
	@media screen and (min-width: 941px) and (max-width: 1090px)
		padding 7em 3% 0 5%
	@media screen and (max-width: 800px)
		padding-left 2.75em
	@media screen and (max-width: 600px)
		padding 6em 1.25em 0 1.25em

	&--isOverlay
		&::before
			content ""
			position absolute
			top 0
			left 0
			z-index 200
			width 100%
			height 100%
			background rgba(#000, .4)

	&__title
		width 100%
		margin .85em 0 0
		@media screen and (max-height: 750px)
			margin-top .3em
		@media screen and (min-width: 941px) and (max-width: 1090px), (max-width: 700px)
			font-size 2.4em
		@media screen and (max-width: 450px)
			font-size 1.8em

	&__lead
		width 100%
		margin .5em 0 0
		font-size 1.5em
		font-weight bold
		@media screen and (min-width: 941px) and (max-width: 1130px), (max-width: 750px), (max-height: 720px)
			font-size 1.2em

	&__list
		position: relative
		z-index: 2000
		width 60%
		height 21em
		overflow hidden
		margin 1.3em 0 0 0
		padding 0
		list-style none
		counter-reset myCounter
		@media screen and (min-width: 941px) and (max-width: 1090px), (max-width: 750px)
			width 55%
		@media screen and (max-width: 600px)
			width 100%
			height 25em
			margin-right 0


	&__item
		position relative
		margin 1.5em 0 0 3.2em
		&::before
			counter-increment: myCounter
			content: "0" counter(myCounter)
			position absolute
			top -.7em
			left -1.05em
			color rgba($base-decor-color, .2)
			font-size 3em
			font-weight bold
		@media screen and (max-width: 600px)
			margin-left 2.7em
			&::before
				font-size 2.5em
				top -.6em
		@media screen and (max-width: 480px)
			margin-left 2.3em
			&::before
				top -.55em
				font-size 2.2em

	&__strong
		font-weight bold

		//form
	&__form
		position relative
		z-index: 2000
		width 35%
		min-width 13.75em
		@media screen and (min-width: 941px) and (max-width: 1090px), (max-width: 750px)
			width 40%
		@media screen and (max-width: 600px)
			top 0
			width 100%
			margin-top 2em

	&__set
		position relative
		margin .7em 0 0
		padding 0
		border none
		&:first-child
			margin-top .5em
		&:last-child
			margin-top 1em
			padding-bottom 3%
			@media screen and (max-width: 600px)
				padding-bottom 3.75em
		@media screen and (max-height: 720px)
			margin .5em 0 0

	&__input
		display block
		box-sizing border-box
		width 100%
		padding .4em .5em .4em 1.8em
		border none
		border-bottom: 1px solid #2e2e2e
		background rgba(0,0,0,0)
		outline none
		-webkit-appearance none
		border-radius 0
		transition all .3s
		&:nth-of-type(2)
			margin-top 1.5em

	&__write
		display block
		box-sizing border-box
		width 100%
		height 8.75em
		padding .2em 1em .5em 2em
		line-height 3em
		border none
		background rgba(0,0,0,0)
		outline none
		resize none
		transition all .3s
		background-image linear-gradient(top, transparent, transparent 2.9375em, #2e2e2e 0)
		background-size 100% 3em
		background-position 0 2.7em

	&__label
		display block
		position absolute
		z-index 100
		top .6em
		left .4em
		width .8em
		height .9em
		background-size cover
		&::before
			width 100%
			height 100%

		& ~ label.error
			display block
			position absolute
			left .6em
			top -1em
			width 100%
			height 1.5em
			font-size .875em
			color lighten(#6f1400, 30%)

		&--company
			top .4em
			left .4em
			width 1em
			height 1em

		&--car
			top 1.3em
			& ~ label.error
				top -.2em

		&--wrap
			position relative
			top 0
			left 0
			width 100%
			height 100%
			&:before
				content ''
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index -1
				background $base-decor-color
				transform-origin top
				transform scaleY(0)
				transition transform .5s cubic-bezier(0.2, 1, 0.3, 1)
			&:hover
			&:focus
				color #363636
			&:hover:before
			&:focus:before
				transform scaleY(1)

	&__btn
		width 100%
