/***********************CLIENTS***********************/
.clients
	flex 1
	flex-container(row, wrap, space-between, flex-start)
	align-content flex-start
	//height 100vh
	padding 7em 6% 3% 7.5%
	box-sizing border-box
	font-size 1rem
	overflow hidden
	background #fff url("../img/clients/clients-bg-lg.jpg") 0 0 no-repeat
	background-size cover
	@media screen and (max-height: 640px)
		overflow auto
	@media screen and (min-width: 941px) and (max-width: 1090px)
		padding-right 3%
		overflow auto
	@media screen and (max-width: 940px)
		overflow auto
	@media screen and (max-width: 800px)
		padding-left 3.75em
	@media screen and (max-width: 600px)
		padding 6em 1.25em 3.75em 2.8em

	&__title
		width 100%
		margin .85em 0 0
		@media screen and (max-height: 750px)
			margin-top .3em
		@media screen and (min-width: 941px) and (max-width: 1090px), (max-width: 700px)
			font-size 2.4em
		@media screen and (max-width: 450px)
			font-size 1.8em

	&__lead
		width 100%
		margin .7em 0 0
		font-size 1.5em
		font-weight bold
		@media screen and (min-width: 941px) and (max-width: 1090px), (max-width: 700px)
			font-size 1.2em

	&__list
		width 60%
		margin 1.3em .8em 0 0
		padding 0
		list-style none
		@media screen and (min-width: 941px) and (max-width: 1090px), (max-width: 700px)
			width 55%
			font-size .9em
		@media screen and (max-width: 600px)
			width 100%
			margin-right 0

	&__item
		position relative
		margin-top 1.5em
		&:before
			content ''
			position absolute
			top -.7em
			left -1.1em
			font-size 3em
			font-weight bold
			color rgba($base-decor-color, .2)
			@media screen and (max-width: 600px)
				font-size 2.5em
				top -.6em
		&:nth-child(1)
			margin-top 0
			&:before
				content '01'
		&:nth-child(2)
			&:before
				content '02'
		&:nth-child(3)
			&:before
				content '03'

	&__form
		width 32%
		min-width 12.5em
		@media screen and (max-width: 600px)
			width 100%
			margin-top 2em

	&__set
		position relative
		margin 0
		padding 0
		border none
		&:nth-child(1)
			.clients__label
				top .5em
				left .7em
				background url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTI5IDEyOSI+PHN0eWxlPi5zdDB7ZmlsbDojRUU2ODAwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik02NC4zIDcxLjZjMTggMCAzMi42LTE0LjYgMzIuNi0zMi42UzgyLjMgNi41IDY0LjMgNi41IDMxLjcgMjEuMSAzMS43IDM5czE0LjYgMzIuNiAzMi42IDMyLjZ6TTcuOSAxMjIuNWgxMTMuMmMyLjQgMCA0LjMtMS45IDQuMy00LjMgMC0yMi41LTE4LjMtNDAuOS00MC45LTQwLjloLTQwQzIyIDc3LjMgMy42IDk1LjYgMy42IDExOC4yYzAgMi40IDEuOSA0LjMgNC4zIDQuM3oiLz48L3N2Zz4=") 0 0 no-repeat
		&:nth-child(2)
			margin-top 1em
			.clients__label
				top .65em
				left .7em
				background url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48ZyBmaWxsPSIjZWU2ODAwIj48cGF0aCBkPSJNMi4wNyAxMjcuOEMuNzQgMTMyLjczIDAgMTM3LjkyIDAgMTQzLjMgMCAzODUtLjA2IDM2OS40Ni4yIDM3My4xTDE1Ny4xIDIyOS4yOCAyLjA3IDEyNy44ek0yNTUuOSAyODEuMTNjLTIzLjk2IDAtMzUuMjItMTAuMjYtNjYuNi0zMC44TDE1Ljk3IDQwOS4yNGMxMC45IDExLjcgMjYuNDIgMTkuMDYgNDMuNjQgMTkuMDZoMzkyLjZjMTcuMjMgMCAzMi43NS03LjM2IDQzLjY0LTE5LjA4TDMyMi41IDI1MC4zNWMtMzEuMzcgMjAuNTMtNDIuNjMgMzAuOC02Ni42IDMwLjh6TTI3MS40IDIzOS4yMkw0ODkuMjMgOTYuNjZjLTEwLjE4LTguMS0yMy4wNC0xMi45NS0zNy4wMi0xMi45NUg1OS42Yy0xMy45OCAwLTI2Ljg1IDQuODYtMzcuMDIgMTIuOTZMMjQwLjQgMjM5LjIyYzkuNDIgNi4xNiAyMS42IDYuMTcgMzEgMHpNNTA5LjczIDEyNy44TDM1NC42OCAyMjkuMjYgNTExLjYgMzczLjFjLjEtMS4yNCAxLjU3LTIzMi41OC0xLjg3LTI0NS4zeiIvPjwvZz48L3N2Zz4=") 0 0 no-repeat
		&:nth-child(3)
			margin-top 3.6em
			.clients__label
				top 1.4em
				left .7em
				background url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNjggMjY4Ij48c3R5bGU+LnN0MHtmaWxsOiNFRTY4MDA7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTI1NyAyOS42bC0xOS4xLTE5LjFjLTEyLjItMTMuOS0zNC44LTEzLjktNDguNyAwbC0yMi42IDIyLjZjMCAuOC0uNCAxLjYtLjggMi41TDEzLjQgMTg3LjljMCAxLjctMS43IDMuNS0xLjcgNS4yTDEuMiAyNTkuM2MtMS43IDEuNyAwIDUuMiAxLjcgNyAxLjcgMCA1LjIgMS43IDcgMS43bDY2LjEtOC43YzEuNyAwIDMuNSAwIDUuMi0xLjdsMTUzLjEtMTUzLjFjMC0xLjMuOC0yLjggMS4zLTQuOEwyNTcgNzguM2MxMy45LTEyLjIgMTMuOS0zNC44IDAtNDguN3oiLz48L3N2Zz4=")
		&:nth-child(4)
			margin-top 3.2em

	&__input
		display block
		box-sizing border-box
		width 100%
		padding .4em .5em .4em 2em
		border none
		border-bottom: .0625em solid #2e2e2e
		background rgba(0,0,0,0)
		outline none
		transition all .3s
		&:nth-of-type(2)
			margin-top 1.5em
		&:hover
		&:focus
			background rgba(darken(#fff, 2%), .5)

	&__write
		display block
		box-sizing border-box
		width 100%
		height 8.75em
		padding .2em 1em .5em 2em
		line-height 3em
		border none
		background rgba(0,0,0,0)
		outline none
		resize none
		transition all .3s
		background-image linear-gradient(top, transparent, transparent 2.9375em, #2e2e2e 0)
		background-size 100% 3em
		background-position 0 2.7em

	&__label
		display block
		position absolute
		z-index 100
		top 0
		left 0
		width .8em
		height .8em
		background-size cover

	&__btn
		width 100%

