include ../order-form/order-form

mixin vacancies
	+b.SECTION.vacancies
		+e.H1.title(class="titles") Карьера в Авто Спец Сервис
		+e.DIV.accordion

			+e.DIV.panel
				+e.SPAN.number 1
				+e.DIV.caption
					+e.P.text Вакансия
					+e.H3.position Account Manager
				+e.SPAN.control
					+e.SVG.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="36" height="22")
						path(d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z")
			+e.DIV.content
				+e.DIV.desc
					+e.P.subtitle Що означає бути Account Manager у нас:
					+e.UL.list
						+e.item менеджерити SMM-проекти (повний project owning);
						+e.item забезпечити ефективну комунікацію з клієнтами;
						+e.item організувати комунікацію всередині команди;
						+e.item вболівати за проекти всією душею та тішитись їхнім успіхом.
					+e.P.subtitle Навички та якості, яких ми від тебе очікуємо:
					+e.UL.list
						+e.item досвід роботи в SMM projects/digital-агенціях/BTL/ATL на подібній  посаді або project manager понад 1 рік;
						+e.item відмінне логічне мислення;
						+e.item відмінні комунікативні навички;
						+e.item пунктуальність;
						+e.item доносити інформацію доступно та послідовно;
						+e.item менеджерити все та всіх;
						+e.item відповідати за результати;
						+e.item швидко та якісно засвоювати нові знання та ділитися з колегами.
					+e.P.subtitle Що ти отримаєш:
					+e.UL.list
						+e.item роботу в крутій команді;
						+e.item багатосторонній досвід;
						+e.item співпрацю з відомими компаніями та брендами;
						+e.item вчасну зарплату.
				+order-form()
					+b.FORM.order-form(class="--vacancies vacancies__form", name="order-form", action="#", method="POST")
						+e.FIELDSET.set
							+e.LABEL.label(for="username1")
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 129 129", width="16", height="16")
									path(d="M64.3 71.6c18 0 32.6-14.6 32.6-32.6S82.3 6.5 64.3 6.5 31.7 21.1 31.7 39s14.6 32.6 32.6 32.6zM7.9 122.5h113.2c2.4 0 4.3-1.9 4.3-4.3 0-22.5-18.3-40.9-40.9-40.9h-40C22 77.3 3.6 95.6 3.6 118.2c0 2.4 1.9 4.3 4.3 4.3z")
							+e.INPUT.input(type="text", name="username", id="username1", aria-required="true", required, placeholder="Введите ваше имя")
						+e.FIELDSET.set
							+e.LABEL.label(for="usertel1")
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 29.7 29.7", width="16", height="16")
									path(d="M23.9 29.7c-1.2 0-2.7-.3-4.4-.9-3.6-1.4-7.5-4-11-7.6-3.5-3.5-6.2-7.4-7.6-11C-.3 6.9-.3 4.2.9 3c.2-.2.4-.4.5-.6C2.6 1.3 3.9-.1 5.5 0c1.2 0 2.3.8 3.4 2.2 3.4 4.2 1.9 5.7.1 7.5l-.2.3c-.3.3-.8 1.6 4.3 6.7 1.7 1.7 3.1 2.9 4.2 3.6.7.5 2 1.2 2.5.6l.3-.3c1.7-1.8 3.3-3.3 7.5.1 1.4 1.1 2.1 2.3 2.2 3.4.1 1.7-1.3 3-2.5 4.1-.2.2-.4.4-.6.5-.6.7-1.6 1-2.8 1z")
							+e.INPUT.input(type="tel", name="usertel", id="usertel1", aria-required="true", required, placeholder="Ваш номер")
						+e.FIELDSET.set
							+e.LABEL.label(for="usermail1")
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 511.6 511.6", width="16", height="16")
									path(d="M49.1 178.7c6.5 4.6 26 18.1 58.5 40.7s57.5 39.9 74.8 52.1c1.9 1.3 5.9 4.2 12.1 8.7 6.2 4.5 11.3 8.1 15.4 10.9 4.1 2.8 9 5.9 14.8 9.3 5.8 3.4 11.3 6 16.4 7.7 5.1 1.7 9.9 2.6 14.3 2.6h.6c4.4 0 9.1-.9 14.3-2.6 5.1-1.7 10.6-4.3 16.4-7.7 5.8-3.4 10.8-6.5 14.8-9.3 4.1-2.8 9.2-6.4 15.4-10.9 6.2-4.5 10.2-7.4 12.1-8.7 17.5-12.2 62.1-43.1 133.6-92.8 13.9-9.7 25.5-21.4 34.8-35.1 9.3-13.7 14-28.1 14-43.1 0-12.6-4.5-23.3-13.6-32.3-9-8.9-19.7-13.4-32.1-13.4h-420c-14.7 0-25.9 4.9-33.8 14.8C3.9 79.6 0 91.9 0 106.8c0 12 5.2 25 15.7 39 10.5 13.9 21.6 24.9 33.4 32.9z")
									path(d="M483.1 209.3c-62.4 42.3-109.8 75.1-142.2 98.5-10.8 8-19.6 14.2-26.4 18.7-6.8 4.5-15.7 9-27 13.7-11.2 4.7-21.7 7-31.4 7h-.6c-9.7 0-20.2-2.3-31.4-7s-20.2-9.2-27-13.7c-6.8-4.5-15.6-10.7-26.4-18.7-25.7-18.8-73-51.7-141.9-98.5C18 202 8.4 193.8 0 184.4v226.7c0 12.6 4.5 23.3 13.4 32.3 8.9 8.9 19.7 13.4 32.3 13.4H466c12.6 0 23.3-4.5 32.3-13.4 8.9-8.9 13.4-19.7 13.4-32.3V184.4c-8.3 9.2-17.8 17.5-28.6 24.9z")
							+e.INPUT.input(type="email", name="usermail", id="usermail1", aria-required="true", required, placeholder="Ваш email")
						+e.FIELDSET.set(class="--vacancies")
							+e.LABEL.label(class="--file --vacancies btn --bordered --square", for="userfile1") Загрузить
								+e.SVG.icon(class="--file --vacancies", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 489.1 489.1", width="16", height="16")
									path(d="M244.55 489.1c6.8 0 12.3-5.5 12.3-12.3V147.1l55.9 55.9c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6c4.8-4.8 4.8-12.5 0-17.3l-76.8-76.8c-4.8-4.8-12.5-4.8-17.3 0l-76.8 76.8c-4.8 4.8-4.8 12.5 0 17.3s12.5 4.8 17.3 0l55.9-55.9v329.7c-.1 6.8 5.3 12.3 12.1 12.3zM488.45 12.2c0-6.8-5.5-12.2-12.3-12.2H12.95C6.15 0 .65 5.5.65 12.2s5.5 12.3 12.3 12.3h463.2c6.8-.1 12.3-5.6 12.3-12.3z")
							+e.INPUT.input(class="--file", type="file", name="userfile", id="userfile1")
							+e.LABEL.label(class="--wrap --vacancies btn --filled --square")
								+e.INPUT.input(class="--submit btn" type="submit", name="submit", id="submit1", value="Отправить")

			+e.DIV.panel
				+e.SPAN.number 2
				+e.DIV.caption
					+e.P.text Вакансия
					+e.H3.position Back End Developer
				+e.SPAN.control
					+e.SVG.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="36" height="22")
						path(d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z")
			+e.DIV.content
				+e.DIV.desc
					+e.P.subtitle Що означає бути Account Manager у нас:
					+e.UL.list
						+e.item менеджерити SMM-проекти (повний project owning);
						+e.item забезпечити ефективну комунікацію з клієнтами;
						+e.item організувати комунікацію всередині команди;
						+e.item вболівати за проекти всією душею та тішитись їхнім успіхом.
					+e.P.subtitle Навички та якості, яких ми від тебе очікуємо:
					+e.UL.list
						+e.item досвід роботи в SMM projects/digital-агенціях/BTL/ATL на подібній  посаді або project manager понад 1 рік;
						+e.item відмінне логічне мислення;
						+e.item відмінні комунікативні навички;
						+e.item пунктуальність;
						+e.item доносити інформацію доступно та послідовно;
						+e.item менеджерити все та всіх;
						+e.item відповідати за результати;
						+e.item швидко та якісно засвоювати нові знання та ділитися з колегами.
					+e.P.subtitle Що ти отримаєш:
					+e.UL.list
						+e.item роботу в крутій команді;
						+e.item багатосторонній досвід;
						+e.item співпрацю з відомими компаніями та брендами;
						+e.item вчасну зарплату.
				+order-form()
					+b.FORM.order-form(class="--vacancies vacancies__form", name="order-form", action="#", method="POST")
						+e.FIELDSET.set
							+e.LABEL.label(for="username2")
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 129 129", width="16", height="16")
									path(d="M64.3 71.6c18 0 32.6-14.6 32.6-32.6S82.3 6.5 64.3 6.5 31.7 21.1 31.7 39s14.6 32.6 32.6 32.6zM7.9 122.5h113.2c2.4 0 4.3-1.9 4.3-4.3 0-22.5-18.3-40.9-40.9-40.9h-40C22 77.3 3.6 95.6 3.6 118.2c0 2.4 1.9 4.3 4.3 4.3z")
							+e.INPUT.input(type="text", name="username", id="username2", aria-required="true", required, placeholder="Введите ваше имя")
						+e.FIELDSET.set
							+e.LABEL.label(for="usertel2")
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 29.7 29.7", width="16", height="16")
									path(d="M23.9 29.7c-1.2 0-2.7-.3-4.4-.9-3.6-1.4-7.5-4-11-7.6-3.5-3.5-6.2-7.4-7.6-11C-.3 6.9-.3 4.2.9 3c.2-.2.4-.4.5-.6C2.6 1.3 3.9-.1 5.5 0c1.2 0 2.3.8 3.4 2.2 3.4 4.2 1.9 5.7.1 7.5l-.2.3c-.3.3-.8 1.6 4.3 6.7 1.7 1.7 3.1 2.9 4.2 3.6.7.5 2 1.2 2.5.6l.3-.3c1.7-1.8 3.3-3.3 7.5.1 1.4 1.1 2.1 2.3 2.2 3.4.1 1.7-1.3 3-2.5 4.1-.2.2-.4.4-.6.5-.6.7-1.6 1-2.8 1z")
							+e.INPUT.input(type="tel", name="usertel", id="usertel2", aria-required="true", required, placeholder="Ваш номер")
						+e.FIELDSET.set
							+e.LABEL.label(for="usermail2")
								+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 511.6 511.6", width="16", height="16")
									path(d="M49.1 178.7c6.5 4.6 26 18.1 58.5 40.7s57.5 39.9 74.8 52.1c1.9 1.3 5.9 4.2 12.1 8.7 6.2 4.5 11.3 8.1 15.4 10.9 4.1 2.8 9 5.9 14.8 9.3 5.8 3.4 11.3 6 16.4 7.7 5.1 1.7 9.9 2.6 14.3 2.6h.6c4.4 0 9.1-.9 14.3-2.6 5.1-1.7 10.6-4.3 16.4-7.7 5.8-3.4 10.8-6.5 14.8-9.3 4.1-2.8 9.2-6.4 15.4-10.9 6.2-4.5 10.2-7.4 12.1-8.7 17.5-12.2 62.1-43.1 133.6-92.8 13.9-9.7 25.5-21.4 34.8-35.1 9.3-13.7 14-28.1 14-43.1 0-12.6-4.5-23.3-13.6-32.3-9-8.9-19.7-13.4-32.1-13.4h-420c-14.7 0-25.9 4.9-33.8 14.8C3.9 79.6 0 91.9 0 106.8c0 12 5.2 25 15.7 39 10.5 13.9 21.6 24.9 33.4 32.9z")
									path(d="M483.1 209.3c-62.4 42.3-109.8 75.1-142.2 98.5-10.8 8-19.6 14.2-26.4 18.7-6.8 4.5-15.7 9-27 13.7-11.2 4.7-21.7 7-31.4 7h-.6c-9.7 0-20.2-2.3-31.4-7s-20.2-9.2-27-13.7c-6.8-4.5-15.6-10.7-26.4-18.7-25.7-18.8-73-51.7-141.9-98.5C18 202 8.4 193.8 0 184.4v226.7c0 12.6 4.5 23.3 13.4 32.3 8.9 8.9 19.7 13.4 32.3 13.4H466c12.6 0 23.3-4.5 32.3-13.4 8.9-8.9 13.4-19.7 13.4-32.3V184.4c-8.3 9.2-17.8 17.5-28.6 24.9z")
							+e.INPUT.input(type="email", name="usermail", id="usermail2", aria-required="true",required, placeholder="Ваш email")
						+e.FIELDSET.set(class="--vacancies")
							+e.LABEL.label(class="--file --vacancies btn --bordered --square", for="userfile2") Загрузить
								+e.SVG.icon(class="--file --vacancies", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 489.1 489.1", width="16", height="16")
									path(d="M244.55 489.1c6.8 0 12.3-5.5 12.3-12.3V147.1l55.9 55.9c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6c4.8-4.8 4.8-12.5 0-17.3l-76.8-76.8c-4.8-4.8-12.5-4.8-17.3 0l-76.8 76.8c-4.8 4.8-4.8 12.5 0 17.3s12.5 4.8 17.3 0l55.9-55.9v329.7c-.1 6.8 5.3 12.3 12.1 12.3zM488.45 12.2c0-6.8-5.5-12.2-12.3-12.2H12.95C6.15 0 .65 5.5.65 12.2s5.5 12.3 12.3 12.3h463.2c6.8-.1 12.3-5.6 12.3-12.3z")
							+e.INPUT.input(class="--file", type="file", name="userfile", id="userfile2")
							+e.LABEL.label(class="--wrap --vacancies btn --filled --square")
								+e.INPUT.input(class="--submit btn" type="submit", name="submit", id="submit2", value="Отправить")