/***********************STATISTICS***********************/
.statistics
	padding 2em 0
	background $base-decor-color-light-grey  url("../img/statistics/statistics-bg.jpg")

	&__list
		flex-container(row, wrap, center, center)
		margin 0
		padding 0
		list-style none
		color #000

	&__item
		width 14em
		margin 2em 5em

	&__caption
		margin 0
		font-size 3em
		font-weight bold
		color $base-decor-color

	&__text
		margin 0
