mixin statistics
	+b.SECTION.statistics
		+e.UL.list
			+e.item
				+e.P.caption 10
				+e.P.text топливный фильтр защищает мотор от посторонних частиц
			+e.item
				+e.P.caption 1000
				+e.P.text топливный фильтр защищает мотор от посторонних частиц
			+e.item
				+e.P.caption 1000000
				+e.P.text топливный фильтр защищает мотор от посторонних частиц

