/************MAIN-NAV**************/
.main-nav
	box-sizing border-box
	width 100%
	margin calc(100vh - 72.5vh) 0 0
	padding 0
	font-size $sidebar-font-size
	color $base-text-color-light
	@media screen and (max-height: 700px)
		margin calc(100vh - 75vh) 0 0
	@media screen and (max-height: 600px), (max-width: 768px)
		margin-top 10em
	@media screen and (max-height: 490px) and (orientation: landscape)
		margin-top 4vmin
	@media screen and (max-height: 490px) and (orientation: portrait)
		margin-top 25vmax
	@media screen and (max-width: 400px)
		margin-top: 13vmax;


	&__menu
		margin 0
		padding 0 $sidebar-elements-bd-width
		list-style none
		text-align center
		text-transform uppercase
		@media screen and (max-height: 400px) and (orientation: landscape)
			flex-container(row, wrap, space-between, flex-start)

	&__item:first-child
		.main-nav__link
			border-top $sidebar-elements-bd-width solid $sidebar-bd-color-dark
			&:before
				content ''
				position absolute
				top 0
				left 0
				width 100%
				height $sidebar-elements-bd-width
				background-color $sidebar-bd-color-light
		.main-nav__link.main-nav__link--active
			&:before
				background-color $sidebar-bd-color-dark
	&__item:last-child
		.main-nav__link
			&:after
				content ''
				position absolute
				top 102%
				left 0
				width 100%
				height $sidebar-elements-bd-width
				background-color $sidebar-bd-color-light
		.main-nav__link.main-nav__link--active
			&:after
				background none

	&__item
		@media screen and (max-height: 400px) and (orientation: landscape)
			width 50%
			height 4em
			&:not(:nth-child(5))
				.main-nav__link
					padding 0
					line-height @height
			&:nth-child(5)
				.main-nav__link
					line-height 1.2
					&:after
						content ''
						position absolute
						top 102%
						left 0
						width 100%
						height $sidebar-elements-bd-width
						background-color $sidebar-bd-color-light
			&:nth-child(odd)
				.main-nav__link
					border-right $sidebar-elements-bd-width solid $sidebar-bd-color-light

	&__link
		display block
		position relative
		width 100%
		height 100%
		box-sizing border-box
		padding 1.58em 0
		text-decoration none
		line-height 1
		letter-spacing .1em
		font-family $base-font-family
		color $base-text-color-light
		border-top $sidebar-elements-bd-width solid $sidebar-bd-color-light
		border-bottom $sidebar-elements-bd-width solid $sidebar-bd-color-dark
		transition all .4s ease
		outline none
		&:hover
		&:focus
			color $base-decor-color
		&:active
			color $base-decor-color
			cursor default
			border-top $sidebar-elements-bd-width solid $sidebar-bd-color-dark
			border-bottom $sidebar-elements-bd-width solid $sidebar-bd-color-light
		@media screen and (max-width: $media-md) and (orientation: landscape)
			padding 1.3em 0
		@media screen and (max-height: 700px)
			padding 1.3em 0
		@media screen and (max-height: 600px)
			padding .9em 0

		&--active
			color $base-decor-color
			cursor default
			border-top $sidebar-elements-bd-width solid $sidebar-bd-color-dark
			border-bottom $sidebar-elements-bd-width solid $sidebar-bd-color-light
			transition all .4s ease