mixin prices(cars, modals)
	+b.SECTION.prices(class="wow bounceIn")

		+e.DIV.wrap
			+e.H2.title(class="titles --landing") Прайсы
			+e.P.desc Компания &laquo;Авто Спец Сервис&raquo; выполняет сервисное обслуживание автомобилей Range Rover. В нашем распоряжении современное оборудование для диагностики и ремонта. В наличии всегда есть необходимые запчасти, расходные материалы и специнструмент для ремонта и технического обслуживания всего модельного ряда автомобилей Range Rover. Мы гарантируем фирменный сервис для вашего автомобиля.

			+e.DIV.container
				+e.DIV.cars
					each car in cars
						+b.BUTTON.btn(type="button", class="--filled --rounded prices__cars-btn", data-index=car.index)= car.value

				+e.DIV.modals
					each modal in modals
						+e.DIV.modal
							+e.IMG.img(src=modal.src, alt=modal.alt)
							+e.H3.caption= modal.caption
							+e.P.text= modal.text
							+b.BUTTON.btn(type="button", class="--filled --rounded prices__modal-btn", data-index=modal.index) Смотреть прайс