/*******************PRICES******************/
.prices
	text-align: center

	&__wrap
		width $base-wrap-element-width
		margin 0 auto
		@media screen and (max-width: 1199px)
			box-sizing border-box
			width 100%
			padding 0 1.25em

	&__desc
		width: 80%
		min-width 30em
		margin: 0 auto
		font-size: 1.25em
		@media screen and (max-width: 700px)
			width: 100%
			min-width 100%

		//cars buttons
	&__cars
		flex-container(row, wrap, center, center)
		margin: 2em auto 0
		padding: 0
		list-style none
		@media screen and (max-width: 900px)
			justify-content: space-between
			width: 30em
		@media screen and (max-width: 600px)
			width: 100%
			flex-direction: column
			justify-content: center

	&__car
		margin: 1em
		
	&__cars-btn
		min-height 3em
		line-height: 3em
		margin: 1em
		padding: 0 1.5em
		border: none
		&:before
			transform: none
		&:hover
		&:focus
			&:before
				background: darken($base-decor-color, 10%)
				transform: none
		@media screen and (max-width: 600px)
			padding: .5em 1.5em

		//car modals container
	&__modals
		margin: 1em 0 0

	&__modal
		display: none
		padding: 1.25em
		@media screen and (max-width: 700px)
			padding: 1.25em 0

	&__caption
		font-size: 1.7em
		margin: 1em auto 0

	&__text
		width: 70%
		min-width: 17em
		margin: 1.5em auto 0
		@media screen and (max-width: 700px)
			width: 100%
			min-width: 100%

	&__img
		display: block
		width: 31.25em
		height: auto
		margin: 0 auto
		@media screen and (max-width: 500px)
			width: 100%
			max-width 100%

	&__modal-btn
		margin: 2em auto 0
		min-height 3em
		line-height: 3em
		padding: 0 1.5em
		border: none
		&:before
			transform: none
		&:hover
			&:before
				background: darken($base-decor-color, 10%)
				transform: none

			//enroll modal window
	&__modal-price
		position: fixed
		z-index: 3000
		top: 0
		left: 0
		box-sizing: border-box
		width: 100%
		height: 100%
		padding: 5% 1% 1% 2%
		opacity: 0
		visibility: hidden
		transform translateX(-120%)
		overflow: hidden
		transition all .4s ease
		&::before
			content: "";
			position: absolute;
			width: 130%;
			height: 130%;
			left: -2.5em;
			top: -2.5em;
			background: url("../img/prices/price-modal-bg.jpg") center no-repeat;
			background-size: cover;
			filter: blur(10px);
		@media screen and (max-width: 600px)
			padding-top: 4em;
			&::before
				left: -4em;
				top: -6em;
		@media screen and (max-height: 480px) and (orientation: landscape)
			padding-top: 2em

		&--isActive
			opacity: 1
			visibility: visible
			transform: none

	&__content
		width: 100%
		height: 85%
		min-height 15em
		margin-top: 1em
		overflow auto
		@media screen and (max-width: 600px)
			margin-top: .5em
			height: 88%
		@media screen and (max-height: 480px) and (orientation: landscape)
			height: 80%
			min-height 12em
	
	&__table-caption
		font-size: 1.5em
		width: 90%
		margin: 1em auto 0
		position: relative
		z-index: 4000
		@media screen and (max-width: 600px)
			box-sizing: border-box
			width: 100%
			margin: 0
			text-align: left;
		@media screen and (max-width: 480px)
			font-size: 1.3em;

	&__table
		position: relative
		z-index: 5000
		width: 100%
		height: 100%
		margin: 0 auto
		border-collapse: collapse
		table-layout: fixed
		@media screen and (max-width: 920px)
			font-size: .875em;
			min-width 55em

	&__table-head
		display: table-header-group;

	&__table-body
		display: block
		box-sizing: border-box
		width: 100%
		height: 100%

	&__row
		display: table-row;
		border-bottom: 1px solid rgba(lighten($base-text-color, 50%), .5);
		&:nth-child(odd):not(.prices__row--head)
			background: rgba($base-text-color-light, .3);
		&:nth-child(even)
			background: rgba($base-text-color-light, .5);

		&--head
			display: block
			position: relative
			padding: 0 // 25px 0 0
			color $base-text-color-light
			background: $base-decor-color
			border: none

		&--foot
			border: none

	&__cell
		width: 7%
		min-width 3.5em
		padding: 0.2em .5em
		&:first-child
			padding-left: 1em
			text-align: left;
			border-left: none;
		&:last-child
			padding-right 1.5em
			border-right: none

		&--head
			font-weight: bold
			padding-top: 1em
			padding-bottom: 1em
			border-top: none
			border-bottom: none;

		&--foot
			font-weight: bold
			padding-bottom: 1em;
			border-bottom: none

	&__close
		position: absolute
		z-index: 5000
		top: 3rem
		right: 2%
		width: 2em
		height: 2em
		padding 0
		outline none
		background rgba(0,0,0,0)
		border none
		&:hover
		&:focus
			.prices__icon
				fill $base-decor-color
		@media screen and (max-width: 600px)
			top 1.5rem
			right: 1rem

	&__icon
		width 100%
		height 100%
		fill $base-text-color
		transition all .3s ease