mixin advantages(item)
	+b.SECTION.advantages(class=item.class, style=item.style)
		+e.DIV.wrap
			+e.DIV.content
				+e.H2.title(class="titles --landing") Наши преимущества
				+e.P.desc Отличительной чертой СТО &laquo;Авто Спец Сервис&raquo; стало использование в своей работе передовых технологий, опытных специалистов, различных видов профессионального оборудования для диагностики легковых автомобилей Range Rover и Mercedes-Benz.