/*******************ABOUT******************/
.about
	position relative
	flex 1
	box-sizing border-box
	height 100%
	padding 9.5em 7.5% 3%
	font-size 1rem
	background: #fff url("../img/about/about-bg.jpg") 0 0 no-repeat
	background-size cover
	overflow-x hidden
	overflow-y auto

	&__title
		margin 0
		position relative