font-face(
	'Proxima Nova',
	'Proxima Nova Regular',
	'ProximaNova-Regular',
	'../fonts/ProximaNova-Regular.woff2',
	'../fonts/ProximaNova-Regular.woff',
	300,
	normal )

font-face(
	'Proxima Nova',
	'Proxima Nova Regular Italic',
	'ProximaNova-RegularIt',
	'../fonts/ProximaNova-RegularIt.woff2',
	'../fonts/ProximaNova-RegularIt.woff',
	300,
	italic )

font-face(
	'Proxima Nova',
	'Proxima Nova Bold',
	'ProximaNova-Bold',
	'../fonts/ProximaNova-Bold.woff2',
	'../fonts/ProximaNova-Bold.woff',
	700,
	normal )
