include ../../head/head
include ../../header/header

include ../../sidebar/sidebar
include ../../logo/logo
include ../../menu-btn/menu-btn
include ../../main-nav/main-nav
include ../../socials/socials
include ../../callback-form/callback-form
include ../../component/component
include ../../vacancies/vacancies

include ../../main/main
include ../../about/about
include ../../services/services
include ../../trust/trust
include ../../clients/clients
include ../../contacts/contacts
