include ../bemto/bemto
- set_bemto_settings({ modifier: "--" })

include includes

doctype html
html(lang="ru")

	head
		+head({
			"title": "autospecservice home page",
			"author": "alex-labs",
			"description": "autospecservice home page"
		})

	+b.BODY.page
		+e.DIV.wrap(class="animsition")
			+b.HEADER.header
				block logo
					// block logo
					+logo({
						"id": "logo",
						"class": "logo --isAnimated",
						"href": "#",
						"set": "img/logo/autospec-logo-light@2.png",
						"src": "img/logo/autospec-logo-light.png",
						"alt": "логотип компании автоспецсервис"
					})
					// end block logo

				// block menu-btn
				+menu-btn()
				// end block menu-btn

			block content
				div content

			+b.DIV.sidebar
				block main-nav
					//block main-nav
					+main-nav([
						{"class": "main-nav__link main-nav__link--active", "id":"", "link": "index.html", "title": "главная"},
						{"class": "main-nav__link animsition-link", "id":"", "link": "about.html", "title": "о нас"},
						{"class": "main-nav__link animsition-link", "id":"", "link": "services.html", "title": "сервис и цены"},
						{"class": "main-nav__link animsition-link", "id":"", "link": "trust.html", "title": "нам доверяют"},
						{"class": "main-nav__link animsition-link", "id":"", "link": "clients.html", "title": "корпоративным клиентам"},
						{"class": "main-nav__link animsition-link", "id":"", "link": "contacts.html", "title": "контакты"}
					])
					//end block main-nav

				//block btn
				+b.BUTTON.btn(class="--callback sidebar__btn", type="button") обратный звонок
					+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 29.731 29.731", width="13", height="13" )
						path(d="M23.9 29.7c-1.2 0-2.7-.3-4.4-.9-3.6-1.4-7.5-4-11-7.6-3.5-3.5-6.2-7.4-7.6-11C-.3 6.9-.3 4.2.9 3c.2-.2.4-.4.5-.6C2.6 1.3 3.9-.1 5.5 0c1.2 0 2.3.8 3.4 2.2 3.4 4.2 1.9 5.7.1 7.5l-.2.3c-.3.3-.8 1.6 4.3 6.7 1.7 1.7 3.1 2.9 4.2 3.6.7.5 2 1.2 2.5.6l.3-.3c1.7-1.8 3.3-3.3 7.5.1 1.4 1.1 2.1 2.3 2.2 3.4.1 1.7-1.3 3-2.5 4.1-.2.2-.4.4-.6.5-.6.7-1.6 1-2.8 1z")
				//end block btn

				//block socials
				+socials([
					{
						"link": "https://facebook.com",
						"viewBox": "0 0 310 310",
						"path": "M81.703 165.106h33.98V305c0 2.762 2.24 5 5 5H178.3c2.762 0 5-2.238 5-5V165.765h39.064c2.54 0 4.677-1.906 4.967-4.43l5.934-51.5c.163-1.418-.286-2.837-1.234-3.9-.95-1.064-2.307-1.673-3.732-1.673h-44.996V71.978c0-9.732 5.24-14.667 15.576-14.667h29.42c2.762 0 5-2.238 5-5V5.038c0-2.762-2.238-5-5-5h-40.545c-.286-.014-.92-.037-1.857-.037-7.035 0-31.488 1.38-50.804 19.15-21.402 19.693-18.427 43.27-17.716 47.36v37.75H81.703c-2.762 0-5 2.24-5 5v50.845c0 2.762 2.238 5 5 5z"
					},
					{
						"link": "https://www.instagram.com/",
						"viewBox": "0 0 300 300",
						"path": "M38.52 0H261.5C282.68 0 300 17.35 300 38.53V261.5c0 21.18-17.32 38.5-38.5 38.5H38.52C17.34 300 0 282.67 0 261.5V38.52C0 17.34 17.34.02 38.52.02zm180.03 33.33c-7.44 0-13.5 6.1-13.5 13.52v32.32c0 7.44 6.06 13.5 13.5 13.5h33.9c7.42 0 13.5-6.06 13.5-13.5V46.85c0-7.43-6.08-13.52-13.5-13.52h-33.9zm47.53 93.54h-26.4c2.5 8.17 3.87 16.8 3.87 25.76 0 49.88-41.77 90.34-93.27 90.34-51.5 0-93.25-40.46-93.25-90.34 0-8.97 1.37-17.6 3.86-25.76H33.34V253.6c0 6.56 5.36 11.9 11.92 11.9h208.9c6.57 0 11.9-5.34 11.9-11.9V126.87zm-115.8-35.9c-33.26 0-60.24 26.14-60.24 58.4 0 32.22 26.98 58.37 60.24 58.37 33.28 0 60.26-26.15 60.26-58.37 0-32.27-26.98-58.4-60.26-58.4z"
					}
				])
				//end block socials

				//block callback-form
				+callback-form()
				//end block callback-form


		// build:js js/vendor.js
		script( src="js/libs/jquery/dist/jquery.min.js")
		script( src="js/libs/animsition/dist/js/animsition.min.js")
		script( src="js/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script( src="js/libs/jquery-validation/dist/jquery.validate.min.js")
		// endbuild


		// build:js js/main.js
		script( src="js/main.js")
		// endbuild

		block scripts
			script.
				$('.animsition').animsition({
					inClass: 'fade-in',
					outClass: 'fade-out',
					inDuration: 500,
					outDuration: 500,
					linkElement: '.animsition-link',
					// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
					loading: true,
					loadingParentElement: 'body', //animsition wrapper element
					loadingClass: 'animsition-loading',
					loadingInner: '', // e.g '<img src="loading.svg" />'
					timeout: false,
					timeoutCountdown: 1000,
					onLoadEvent: true,
					browser: ['animation-duration', '-webkit-animation-duration'],
					// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
					// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
					overlay: false,
					overlayClass: 'animsition-overlay-slide',
					overlayParentElement: 'body',
					transition: function (url) {
						window.location.href = url;
					}
				});