/***********************BASE***********************/
$base-bg-color 									= #fff
$base-text-color								= #2e2e2e
$base-text-color-light          = #fff
$base-font-family								= 'Proxima Nova', Arial, sans-serif
$base-font-size									= 100%
$base-font-weight								= 300
$base-line-height								= 1.5
//$base-letter-spacing						= .01rem

$base-decor-color               = #ee6800
$base-decor-color-dark					= #1f282a


/***********************HEADINGS***********************/
$heading-color									= #ee6800
$heading-font-family						= 'Proxima Nova', Arial, Helvetica, sans-serif
$heading-font-size							= 3rem
$heading-font-weight            = bold
$heading-line-height						= 1.3
$heading-letter-spacing					= .04rem


/***********************MENU-BTN***********************/


/***********************SIDEBAR***********************/
$sidebar-width                  = 21.5625rem
$sidebar-width-landscape        = 27rem
$sidebar-bg-color               = #363636
$sidebar-font-size              = .875rem
$sidebar-elements-bd-width      = .0714em
$sidebar-bd-color-light         = #3f3f3f
$sidebar-bd-color-dark          = #2d2d2d

/***********************MAIN-NAV***********************/
$main-nav-thin-border-width     = .0714em

/***********************MEDIA QUERIES***********************/
//$media-xs												= 544px//34em //544px
$media-mob												= 450px
$media-md												  = 600px
$media-lg     										= 1200em


//w 600
//h 750
//w 940
//w 1200
