/*******************ORDER-FORM******************/
.order-form
	flex 1
	height 40em
	margin 0
	padding 1em 0 0 2em
	border-left 1px solid #d1d1d1

	&__caption
		font-size 1.5em
		font-weight bold
		color $base-decor-color

	&__set
		position relative
		margin .3em 0 0
		padding 0 0 0 2em
		height 2.625em
		border none
		border-bottom 1px solid #707070
		outline none

		&--container
			height 18.75em
			padding 0
			border none

	&__input
		display block
		width 100%
		height 100%
		border none
		background rgba(0,0,0,0)
		outline none

		&--file
			width .1px;
			height .1px;
			opacity 0
			overflow hidden
			position absolute
			z-index -1


		&--submit
			width 100%
			height 100%
			letter-spacing .1em
			border-radius 2em
			background rgba(0,0,0,0)
			transition all .3s ease

	&__select-wrap
		position relative
		z-index 100
		width 100%
		height 100%
		&::after
			content ''
			position absolute
			z-index 0
			right 0
			top 1em
			width .8em
			height .8em
			background url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IiNhNWE1YTUiPjxwYXRoIGQ9Ik0xMjEuMyAzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44IDBsLTUxIDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44IDAtMS42IDEuNi0xLjYgNC4yIDAgNS44bDUzLjkgNTMuOWMuOC44IDEuOCAxLjIgMi45IDEuMiAxIDAgMi4xLS40IDIuOS0xLjJsNTMuOS01My45YzEuNy0xLjYgMS43LTQuMi4xLTUuOHoiLz48L3N2Zz4=") center no-repeat

	&__select
		position relative
		z-index 10
		display block
		box-sizing border-box
		width 100%
		height 100%
		padding-right 1em
		border none
		color #a5a5a5
		background rgba(0,0,0,0)
		outline none
		-ms-appearance none
		appearance none

	&__option
		padding 0

	&__label
		display block
		position absolute
		top 0
		left .7em
		width .8em
		height 100%

		&--desc
			position static
			width 90%
			height 4em
			margin-top 2em

		&--file
			position relative
			left 0
			width 18em
			height 3.5em
			margin-top 2.5em
			color $base-decor-color
			letter-spacing .1em
			cursor pointer
			&:hover
			&:focus
				.order-form__icon--file
					fill $base-text-color
					stroke $base-text-color

		&--wrap
			position relative
			left 0
			z-index 0
			width 18em
			height 3.5em
			margin-top 6em
			letter-spacing .1em
			&:hover
			&:focus
				.order-form__input--submit
					color $base-text-color

	&__icon
		display block
		position absolute
		width 100%
		height 100%
		fill $base-decor-color

		&--file
			top 1.4em
			left 4.8em
			width .8em
			height .8em
			fill $base-decor-color
			stroke $base-decor-color
			stroke-width 35px
			transition all .5s ease