/*******************ORDER-FORM******************/
.order-form
	flex 1
	height 41.5em
	margin 0
	padding 1em 0 0 2em
	border-left 1px solid #d1d1d1
	animation-duration 2s
	animation-delay 0s
	@media screen and (max-width: 1199px)
		width 50%
		margin 0 auto
		padding-left 0
		border none
	@media screen and (max-width: 779px)
		margin 0
	@media screen and (max-width: 649px)
		width 100%

	&__caption
		margin 0
		font-size 1.5em
		font-weight bold
		color $base-decor-color

	&__set
		position relative
		margin .5em 0 0
		padding 0 0 0 2em
		height 2.625em
		border none
		border-bottom 1px solid #707070
		outline none

		&--container
			height 20em
			padding 0
			border none

	&__input
		display block
		width 100%
		height 100%
		border none
		background rgba(0,0,0,0)
		outline none
		-webkit-appearance none
		border-radius 0

		&--file
			width .1px;
			height .1px;
			opacity 0
			overflow hidden
			position absolute
			z-index -1


		&--submit
			width 100%
			height 100%
			letter-spacing .1em
			border-radius 2em
			background rgba(0,0,0,0)
			transition all .3s ease


	&__select
		position relative
		z-index 10
		display block
		box-sizing border-box
		width 100%
		height 100%
		padding-right 1em
		border none
		color #a5a5a5
		background rgba(0,0,0,0)
		outline none
		-ms-appearance none
		appearance none

	&__option
		padding 0

	&__label
		display block
		position absolute
		top 0
		left .55em
		width .85em
		height 100%

		&--desc
			position static
			width 90%
			height 4em
			margin-top 2em
			@media screen and (max-width:649px)
				width 100%

		&--file
			position relative
			left 0
			width 18em
			height 3.5em
			margin-top 2.5em
			color $base-decor-color
			letter-spacing .1em
			cursor pointer
			&:hover
			&:focus
				.order-form__icon--file
					fill $base-text-color
					stroke $base-text-color
			@media screen and (max-width:649px)
				margin 3.5em auto 0

		&--wrap
			position relative
			left 0
			z-index 0
			width 18em
			height 3.5em
			margin-top 6em
			letter-spacing .1em
			&:hover
			&:focus
				.order-form__input--submit
					color $base-text-color
			@media screen and (max-width:649px)
				margin 6em auto 0

	&__icon
		display block
		position absolute
		width 100%
		height 100%
		fill $base-decor-color

		&--file
			top 1.4em
			left 4.8em
			width .8em
			height .8em
			fill $base-decor-color
			stroke $base-decor-color
			stroke-width 35px
			transition all .5s ease

label.error
	display block
	position absolute
	left 2.3em
	top -.75em
	width 100%
	height 1.5em
	font-size .875em
	color lighten(#6f1400, 30%)
	@media screen and (max-width: 374px)
		left 2.7em
		top -.65em
		font-size .75em